<strong>NBExtensions<strong>

In [1]:
#nbextensions
#Run the following in your command prompt
#!pip install jupyter_nbextensions_configurator
#https://medium.com/@rrfd/jupyter-notebook-shortcuts-tips-and-tricks-top-nbextensions-bring-order-to-your-notebooks-pt-1-b58f270963f9

In [77]:
import pandas as pd
xlsx = pd.ExcelFile('C:/Users/Michael/Dropbox/PhD/CU/0 - Courses/1- Fall 2018/Group Project - Solar Desal/Datasets/2 - Water Stress WRI/water_stress.xlsx')
df1 = pd.read_excel(xlsx, 'Baseline Water Stress')
df2 = pd.read_excel(xlsx, 'Drought Severity')

1.) <strong>Baseline Water Stress <strong>

In [78]:
#Baseline Water Stress
df1.head()

               Country Water Stress
0  Antigua and Barbuda            5
1              Bahrain            5
2             Barbados            5
3              Comoros            5
4               Cyprus            5

In [54]:
df1["All sectors"].describe()

count     200
unique    162
top         -
freq       20
Name: All sectors, dtype: object

In [55]:
df1.set_index("Name",inplace=True)

In [56]:
#Shows countries with greatest to lowest water stress (5 = highest, 0 = lowest)
df1["All sectors"]

Name
Antigua and Barbuda                           5
Bahrain                                       5
Barbados                                      5
Comoros                                       5
Cyprus                                        5
Dominica                                      5
Jamaica                                       5
Malta                                         5
Qatar                                         5
Saint Lucia                                   5
Saint Vincent and the Grenadines              5
San Marino                                    5
Singapore                                     5
Trinidad and Tobago                           5
United Arab Emirates                          5
Western Sahara                                5
Saudi Arabia                            4.99235
Kuwait                                  4.96487
Oman                                    4.91379
Libya                                   4.84021
Israel                                  4.82539
Kyrgyzstan                                4.822
East Timor                              4.80609
Iran                                    4.78155
Yemen                                   4.67405
Palestine                               4.63391
Jordan                                  4.59445
Lebanon                                   4.541
Somaliland                              4.37948
Uzbekistan                              4.31667
                                       ...
Paraguay                              0.0111503
Brunei                               0.00837207
Democratic Republic of the Congo     0.00604593
Uganda                              0.000342989
Burkina Faso                           4.45e-06
Benin                                         0
Burundi                                       0
Central African Republic                      0
Rwanda                                        0
South Sudan                                   0
Cape Verde                                    -
Curacao                                       -
Federated States of Micronesia                -
Fiji                                          -
Grenada                                       -
Kiribati                                      -
Maldives                                      -
Marshall Islands                              -
Mauritius                                     -
Nauru                                         -
Palau                                         -
Saint Kitts and Nevis                         -
Samoa                                         -
Sao Tome and Principe                         -
Seychelles                                    -
Solomon Islands                               -
The Bahamas                                   -
Tonga                                         -
Tuvalu                                        -
Vanuatu                                       -
Name: All sectors, Length: 200, dtype: object

2.) <strong>Drought Severity <strong>

Drought severity measures the average length of drought times the dryness of the droughts from 1901 to 2008. Drought is defined as a contiguous period when soil moisture remains below the 20th percentile. Length is measured in month and dryness is the average number of percentage points by which soil moisture drops below the 20th percentile.

In [57]:
df2.set_index("Name",inplace=True)
df2

                                  Rank All sectors
Name
Western Sahara                       1     4.42071
Mauritania                           2     3.79019
Niger                                3     3.72379
Senegal                              4     3.64657
Oman                                 5     3.41492
Peru                                 6     3.38979
Egypt                                7     3.35266
Namibia                              8       3.299
Qatar                                9     2.94453
Sudan                               10     2.94119
United Arab Emirates                11     2.91875
Mali                                12     2.90066
Armenia                             13     2.82779
Jordan                              14     2.80048
Libya                               15     2.76611
Eritrea                             16     2.72977
Botswana                            17     2.70227
Ecuador                             18     2.64303
Turkmenistan                        19     2.61929
Iran                                20     2.57415
Uzbekistan                          21     2.56691
Somalia                             22     2.56464
Chad                                23      2.5363
Afghanistan                         24     2.47833
Pakistan                            25      2.4767
Finland                             26     2.46159
Tajikistan                          27     2.45443
Kazakhstan                          28     2.43454
Syria                               29      2.3676
Kyrgyzstan                          30     2.31983
...                                ...         ...
Cyprus                             171    0.149473
Jamaica                            172    0.015444
Antigua and Barbuda                173           0
Bahrain                            173           0
Barbados                           173           0
Comoros                            173           0
Dominica                           173           0
Malta                              173           0
Saint Lucia                        173           0
Saint Vincent and the Grenadines   173           0
Cape Verde                         174           -
Curacao                            174           -
Federated States of Micronesia     174           -
Fiji                               174           -
Grenada                            174           -
Kiribati                           174           -
Maldives                           174           -
Marshall Islands                   174           -
Mauritius                          174           -
Nauru                              174           -
Palau                              174           -
Saint Kitts and Nevis              174           -
Samoa                              174           -
Sao Tome and Principe              174           -
Seychelles                         174           -
Solomon Islands                    174           -
The Bahamas                        174           -
Tonga                              174           -
Tuvalu                             174           -
Vanuatu                            174           -

[200 rows x 2 columns]

In [58]:
#Shows countries with greatest drought severity
df2["All sectors"]

Name
Western Sahara                       4.42071
Mauritania                           3.79019
Niger                                3.72379
Senegal                              3.64657
Oman                                 3.41492
Peru                                 3.38979
Egypt                                3.35266
Namibia                                3.299
Qatar                                2.94453
Sudan                                2.94119
United Arab Emirates                 2.91875
Mali                                 2.90066
Armenia                              2.82779
Jordan                               2.80048
Libya                                2.76611
Eritrea                              2.72977
Botswana                             2.70227
Ecuador                              2.64303
Turkmenistan                         2.61929
Iran                                 2.57415
Uzbekistan                           2.56691
Somalia                              2.56464
Chad                                  2.5363
Afghanistan                          2.47833
Pakistan                              2.4767
Finland                              2.46159
Tajikistan                           2.45443
Kazakhstan                           2.43454
Syria                                 2.3676
Kyrgyzstan                           2.31983
                                      ...
Cyprus                              0.149473
Jamaica                             0.015444
Antigua and Barbuda                        0
Bahrain                                    0
Barbados                                   0
Comoros                                    0
Dominica                                   0
Malta                                      0
Saint Lucia                                0
Saint Vincent and the Grenadines           0
Cape Verde                                 -
Curacao                                    -
Federated States of Micronesia             -
Fiji                                       -
Grenada                                    -
Kiribati                                   -
Maldives                                   -
Marshall Islands                           -
Mauritius                                  -
Nauru                                      -
Palau                                      -
Saint Kitts and Nevis                      -
Samoa                                      -
Sao Tome and Principe                      -
Seychelles                                 -
Solomon Islands                            -
The Bahamas                                -
Tonga                                      -
Tuvalu                                     -
Vanuatu                                    -
Name: All sectors, Length: 200, dtype: object

In [59]:
df2["All sectors"].describe()

count     200
unique    174
top         -
freq       20
Name: All sectors, dtype: object

3.) <strong>Wellhead Natural Gas Prices<strong>

In [100]:
#Natural Gas Prices
xls = pd.ExcelFile("C:/Users/Michael/Dropbox/PhD/CU/0 - Courses/1- Fall 2018/Group Project - Solar Desal/Datasets/3 - Natural Gas Prices/NGP.xls")
df3 = pd.read_excel(xls, 'Data 1')

In [101]:
df3

    Award date  Inflation Adjusted Wellhead Natural Gas Price
0         2017                                       0.000000
1         2016                                       0.000000
2         2015                                       0.000000
3         2014                                       0.000000
4         2013                                       0.000000
5         2012                                       2.839879
6         2011                                       4.304385
7         2010                                       5.036035
8         2009                                       4.193171
9         2008                                       9.073754
10        2007                                       7.388759
11        2006                                       7.769429
12        2005                                       9.199844
13        2004                                       7.084993
14        2003                                       6.502422
15        2002                                       4.019924
16        2001                                       5.536307
17        2000                                       5.238337
18        1999                                       3.222166
19        1998                                       2.947455
20        1997                                       3.543168
21        1996                                       3.390124
22        1995                                       2.493018
23        1994                                       3.059865
24        1993                                       3.460518
25        1992                                       3.039977
26        1991                                       2.951518
27        1990                                       3.207002
28        1989                                       3.340748
29        1988                                       3.501714
..         ...                                            ...
66        1951                                       0.659938
67        1950                                       0.711967
68        1949                                       0.617950
69        1948                                       0.711967
70        1947                                       0.659516
71        1946                                       0.628513
72        1945                                       0.680889
73        1944                                       0.696364
74        1943                                       0.708439
75        1942                                       0.751902
76        1941                                       0.833741
77        1940                                       0.875429
78        1939                                       0.881727
79        1938                                       0.869220
80        1937                                       0.851111
81        1936                                       1.058072
82        1935                                       1.073518
83        1934                                       1.097552
84        1933                                       1.131323
85        1932                                       1.073518
86        1931                                       1.128842
87        1930                                       1.174228
88        1929                                       1.146760
89        1928                                       1.290105
90        1927                                       1.267862
91        1926                                       1.384859
92        1925                                       1.260617
93        1924                                       1.290105
94        1923                                       1.433450
95        1922                                       1.604952

[96 rows x 2 columns]

4.) <strong>Population<strong> = from 1960 to 2017. Source = World Bank

In [21]:
xls = pd.ExcelFile('C:/Users/Michael/Dropbox/PhD/CU/0 - Courses/1- Fall 2018/Group Project - Solar Desal/Datasets/POPULATION/API_SP.POP.TOTL_DS2_EN_excel_v2.xls')
df4 = pd.read_excel(xls, 'Sheet1')

In [22]:
df4

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,"Population, total",SP.POP.TOTL,5.421100e+04,5.543800e+04,5.622500e+04,5.669500e+04,5.703200e+04,5.736000e+04,...,1.013530e+05,1.014530e+05,1.016690e+05,1.020530e+05,1.025770e+05,1.031870e+05,1.037950e+05,1.043410e+05,1.048220e+05,1.052640e+05
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8.996351e+06,9.166764e+06,9.345868e+06,9.533954e+06,9.731361e+06,9.938414e+06,...,2.729403e+07,2.800433e+07,2.880317e+07,2.970860e+07,3.069696e+07,3.173169e+07,3.275802e+07,3.373649e+07,3.465603e+07,3.553008e+07
2,Angola,AGO,"Population, total",SP.POP.TOTL,5.643182e+06,5.753024e+06,5.866061e+06,5.980417e+06,6.093321e+06,6.203299e+06,...,2.175942e+07,2.254955e+07,2.336913e+07,2.421856e+07,2.509615e+07,2.599834e+07,2.692047e+07,2.785930e+07,2.881346e+07,2.978419e+07
3,Albania,ALB,"Population, total",SP.POP.TOTL,1.608800e+06,1.659800e+06,1.711319e+06,1.762621e+06,1.814135e+06,1.864791e+06,...,2.947314e+06,2.927519e+06,2.913021e+06,2.905195e+06,2.900401e+06,2.895092e+06,2.889104e+06,2.880703e+06,2.876101e+06,2.873457e+06
4,Andorra,AND,"Population, total",SP.POP.TOTL,1.341100e+04,1.437500e+04,1.537000e+04,1.641200e+04,1.746900e+04,1.854900e+04,...,8.386100e+04,8.446200e+04,8.444900e+04,8.375100e+04,8.243100e+04,8.078800e+04,7.922300e+04,7.801400e+04,7.728100e+04,7.696500e+04
5,Arab World,ARB,"Population, total",SP.POP.TOTL,9.249093e+07,9.504450e+07,9.768229e+07,1.004111e+08,1.032399e+08,1.061750e+08,...,3.398255e+08,3.481451e+08,3.565089e+08,3.648959e+08,3.733070e+08,3.817021e+08,3.900430e+08,3.983050e+08,4.064527e+08,4.144919e+08
6,United Arab Emirates,ARE,"Population, total",SP.POP.TOTL,9.263400e+04,1.010780e+05,1.124720e+05,1.255660e+05,1.385290e+05,1.503620e+05,...,6.894278e+06,7.666393e+06,8.270684e+06,8.672475e+06,8.900453e+06,9.006263e+06,9.070867e+06,9.154302e+06,9.269612e+06,9.400145e+06
7,Argentina,ARG,"Population, total",SP.POP.TOTL,2.061908e+07,2.095308e+07,2.128768e+07,2.162184e+07,2.195393e+07,2.228339e+07,...,4.038239e+07,4.079941e+07,4.122389e+07,4.165688e+07,4.209674e+07,4.253992e+07,4.298152e+07,4.341776e+07,4.384743e+07,4.427104e+07
8,Armenia,ARM,"Population, total",SP.POP.TOTL,1.874120e+06,1.941491e+06,2.009526e+06,2.077575e+06,2.144998e+06,2.211316e+06,...,2.908220e+06,2.888584e+06,2.877311e+06,2.875581e+06,2.881922e+06,2.893509e+06,2.906220e+06,2.916950e+06,2.924816e+06,2.930450e+06
9,American Samoa,ASM,"Population, total",SP.POP.TOTL,2.001300e+04,2.048600e+04,2.111700e+04,2.188200e+04,2.269800e+04,2.352000e+04,...,5.703000e+04,5.622700e+04,5.563700e+04,5.532000e+04,5.523000e+04,5.530700e+04,5.543700e+04,5.553700e+04,5.559900e+04,5.564100e+04
10,Antigua and Barbuda,ATG,"Population, total",SP.POP.TOTL,5.533900e+04,5.614400e+04,5.714400e+04,5.829400e+04,5.952400e+04,6.078100e+04,...,9.247800e+04,9.358100e+04,9.466100e+04,9.571900e+04,9.677700e+04,9.782400e+04,9.887500e+04,9.992300e+04,1.009630e+05,1.020120e+05
11,Australia,AUS,"Population, total",SP.POP.TOTL,1.027648e+07,1.048300e+07,1.074200e+07,1.095000e+07,1.116700e+07,1.138800e+07,...,2.124920e+07,2.169170e+07,2.203175e+07,2.234002e+07,2.274248e+07,2.314590e+07,2.350414e+07,2.385078e+07,2.421081e+07,2.459893e+07
12,Austria,AUT,"Population, total",SP.POP.TOTL,7.047539e+06,7.086299e+06,7.129864e+06,7.175811e+06,7.223801e+06,7.270889e+06,...,8.321496e+06,8.343323e+06,8.363404e+06,8.391643e+06,8.429991e+06,8.479823e+06,8.546356e+06,8.642699e+06,8.736668e+06,8.809212e+06
13,Azerbaijan,AZE,"Population, total",SP.POP.TOTL,3.895396e+06,4.030320e+06,4.171425e+06,4.315128e+06,4.456689e+06,4.592610e+06,...,8.763400e+06,8.947243e+06,9.054332e+06,9.173082e+06,9.295784e+06,9.416801e+06,9.535079e+06,9.649341e+06,9.757812e+06,9.862429e+06
14,Burundi,BDI,"Population, total",SP.POP.TOTL,2.786106e+06,2.839666e+06,2.893669e+06,2.949926e+06,3.010859e+06,3.077876e+06,...,8.212264e+06,8.489031e+06,8.766930e+06,9.043508e+06,9.319710e+06,9.600186e+06,9.891790e+06,1.019927e+07,1.052412e+07,1.086424e+07
15,Belgium,BEL,"Population, total",SP.POP.TOTL,9.153489e+06,9.183948e+06,9.220578e+06,9.289770e+06,9.378113e+06,9.463667e+06,...,1.070997e+07,1.079649e+07,1.089559e+07,1.104774e+07,1.112825e+07,1.118282e+07,1.120906e+07,1.127420e+07,1.133142e+07,1.137207e+07
16,Benin,BEN,"Population, total",SP.POP.TOTL,2.431622e+06,2.465867e+06,2.502896e+06,2.542859e+06,2.585965e+06,2.632356e+06,...,8.696916e+06,8.944706e+06,9.199259e+06,9.460802e+06,9.729160e+06,1.000445e+07,1.028671e+07,1.057595e+07,1.087230e+07,1.117569e+07
17,Burkina Faso,BFA,"Population, total",SP.POP.TOTL,4.829288e+06,4.894580e+06,4.960326e+06,5.027821e+06,5.098890e+06,5.174870e+06,...,1.468973e+07,1.514110e+07,1.560522e+07,1.608190e+07,1.657122e+07,1.707272e+07,1.758598e+07,1.811062e+07,1.864643e+07,1.919338e+07
18,Bangladesh,BGD,"Population, total",SP.POP.TOTL,4.819975e+07,4.959280e+07,5.103014e+07,5.253242e+07,5.412910e+07,5.583404e+07,...,1.488058e+08,1.504547e+08,1.521491e+08,1.539119e+08,1.557271e+08,1.575713e+08,1.594053e+08,1.612009e+08,1.629516e+08,1.646698e+08
19,Bulgaria,BGR,"Population, total",SP.POP.TOTL,7.867374e+06,7.943118e+06,8.012946e+06,8.078145e+06,8.144340e+06,8.204168e+06,...,7.492561e+06,7.444443e+06,7.395599e+06,7.348328e+06,7.305888e+06,7.265115e+06,7.223938e+06,7.177991e+06,7.127822e+06,7.075991e+06
20,Bahrain,BHR,"Population, total",SP.POP.TOTL,1.624270e+05,1.678940e+05,1.731440e+05,1.781400e+05,1.828870e+05,1.874310e+05,...,1.114590e+06,1.185029e+06,1.240862e+06,1.278269e+06,1.300217e+06,1.315411e+06,1.336397e+06,1.371855e+06,1.425171e+06,1.492584e+06
21,"Bahamas, The",BHS,"Population, total",SP.POP.TOTL,1.095280e+05,1.151080e+05,1.210830e+05,1.273330e+05,1.336980e+05,1.400540e+05,...,3.486760e+05,3.548560e+05,3.608320e+05,3.665680e+05,3.720390e+05,3.772400e+05,3.821690e+05,3.868380e+05,3.912320e+05,3.953610e+05
22,Bosnia and Herzegovina,BIH,"Population, total",SP.POP.TOTL,3.225668e+06,3.288602e+06,3.353226e+06,3.417574e+06,3.478995e+06,3.535640e+06,...,3.763599e+06,3.746561e+06,3.722084e+06,3.688865e+06,3.648200e+06,3.604999e+06,3.566002e+06,3.535961e+06,3.516816e+06,3.507017e+06
23,Belarus,BLR,"Population, total",SP.POP.TOTL,8.198000e+06,8.271216e+06,8.351928e+06,8.437232e+06,8.524224e+06,8.610000e+06,...,9.527985e+06,9.506765e+06,9.490583e+06,9.473172e+06,9.464495e+06,9.465997e+06,9.474511e+06,9.489616e+06,9.501534e+06,9.507875e+06
24,Belize,BLZ,"Population, total",SP.POP.TOTL,9.206400e+04,9.470300e+04,9.738400e+04,1.001640e+05,1.030690e+05,1.061190e+05,...,3.061650e+05,3.139290e+05,3.216080e+05,3.291920e+05,3.367010e+05,3.441810e+05,3.516940e+05,3.592880e+05,3.669540e+05,3.746810e+05
25,Bermuda,BMU,"Population, total",SP.POP.TOTL,4.440000e+04,4.550000e+04,4.660000e+04,4.770000e+04,4.890000e+04,5.010000e+04,...,6.527300e+04,6.563600e+04,6.512400e+04,6.456400e+04,6.479800e+04,6.500100e+04,6.513900e+04,6.523900e+04,6.534100e+04,6.544100e+04
26,Bolivia,BOL,"Population, total",SP.POP.TOTL,3.693449e+06,3.764813e+06,3.838097e+06,3.913395e+06,3.990857e+06,4.070590e+06,...,9.599855e+06,9.758748e+06,9.918242e+06,1.007834e+07,1.023900e+07,1.040026e+07,1.056216e+07,1.072470e+07,1.088788e+07,1.105160e+07
27,Brazil,BRA,"Population, total",SP.POP.TOTL,7.220755e+07,7.435176e+07,7.657325e+07,7.885402e+07,8.116865e+07,8.349802e+07,...,1.929790e+08,1.948960e+08,1.967963e+08,1.986867e+08,2.005610e+08,2.024086e+08,2.042131e+08,2.059621e+08,2.076529e+08,2.092883e+08
28,Barbados,BRB,"Population, total",SP.POP.TOTL,2.309390e+05,2.316780e+05,2.325860e+05,2.335870e+05,2.345470e+05,2.353740e+05,...,2.773190e+05,2.784700e+05,2.795690e+05,2.806010e+05,2.815850e+05,2.825090e+05,2.833850e+05,2.842170e+05,2.849960e+05,2.857190e+05
29,Brunei Darussalam,BRN,"Population, total",SP.POP.TOTL,8.174500e+04,8.559600e+04,8.951600e+04,9.357600e+04,9.784800e+04,1.024250e+05,...,3.792520e+05,3.837720e+05,3.886620e+05,3.940130e+05,3.997480e+05,4.057160e+05,4.117040e+05,4.175420e+05,4.231960e+05,4.286970e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,Latin America & the Caribbean (IDA & IBRD coun...,TLA,"Population, total",SP.POP.TOTL,2.103576e+08,2.162859e+08,2.223965e+08,2.286630e+08,2.350485e+08,2.415251e+08,...,5.659562e+08,5.731253e+08,5.802468e+08,5.873151e+08,5.943307e+08,6.012772e+08,6.081360e+08,6.148920e+08,6.215349e+08,6.280598e+08
235,Timor-Leste,TLS,"Population, total",SP.POP.TOTL,4.999500e+05,5.088450e+05,5.181070e+05,5.277490e+05,5.377860e+05,5.482180e+05,...,1.078110e+06,1.092021e+06,1.109591e+06,1.131523e+06,1.156760e+06,1.184366e+06,1.212814e+06,1.240977e+06,1.268671e+06,1.296311e+06
236,Middle East & North Africa (IDA & IBRD countries),TMN,"Population, total",SP.POP.TOTL,9.783777e+07,1.004585e+08,1.031472e+08,1.059144e+08,1.087749e+08,1.117382e+08,...,3.199345e+08,3.257867e+08,3.317705e+08,3.378950e+08,3.441488e+08,3.504715e+08,3.567833e+08,3.630272e+08,3.691675e+08,3.752170e+08
237,Tonga,TON,"Population, total",SP.POP.TOTL,6.160100e+04,6.374500e+04,6.625900e+04,6.900500e+04,7.175700e+04,7.436200e+04,...,1.030050e+05,1.036040e+05,1.041370e+05,1.045770e+05,1.049510e+05,1.053280e+05,1.057820e+05,1.063640e+05,1.071220e+05,1.080200e+05
238,South Asia (IDA & IBRD),TSA,"Population, total",SP.POP.TOTL,5.718357e+08,5.838941e+08,5.964139e+08,6.093918e+08,6.228226e+08,6.367018e+08,...,1.584359e+09,1.607664e+09,1.630807e+09,1.653799e+09,1.676615e+09,1.699310e+09,1.721848e+09,1.744200e+09,1.766394e+09,1.788389e+09
239,Sub-Saharan Africa (IDA & IBRD countries),TSS,"Population, total",SP.POP.TOTL,2.285860e+08,2.340086e+08,2.396471e+08,2.455033e+08,2.515764e+08,2.578686e+08,...,8.309656e+08,8.539537e+08,8.776284e+08,9.019899e+08,9.270399e+08,9.527341e+08,9.790179e+08,1.005850e+09,1.033213e+09,1.061108e+09
240,Trinidad and Tobago,TTO,"Population, total",SP.POP.TOTL,8.484790e+05,8.653600e+05,8.800230e+05,8.925690e+05,9.032750e+05,9.124170e+05,...,1.315372e+06,1.321618e+06,1.328100e+06,1.334788e+06,1.341588e+06,1.348248e+06,1.354493e+06,1.360092e+06,1.364962e+06,1.369125e+06
241,Tunisia,TUN,"Population, total",SP.POP.TOTL,4.176266e+06,4.235937e+06,4.303131e+06,4.377637e+06,4.458611e+06,4.545339e+06,...,1.040734e+07,1.052183e+07,1.063993e+07,1.076147e+07,1.088667e+07,1.101456e+07,1.114391e+07,1.127366e+07,1.140325e+07,1.153213e+07
242,Turkey,TUR,"Population, total",SP.POP.TOTL,2.747233e+07,2.814689e+07,2.883280e+07,2.953134e+07,3.024423e+07,3.097296e+07,...,7.044003e+07,7.133918e+07,7.232691e+07,7.340946e+07,7.456987e+07,7.578733e+07,7.703063e+07,7.827147e+07,7.951243e+07,8.074502e+07
243,Tuvalu,TUV,"Population, total",SP.POP.TOTL,6.104000e+03,6.246000e+03,6.389000e+03,6.538000e+03,6.684000e+03,6.815000e+03,...,1.034000e+04,1.044100e+04,1.053100e+04,1.062800e+04,1.072500e+04,1.081900e+04,1.090800e+04,1.100100e+04,1.109700e+04,1.119200e+04
244,Tanzania,TZA,"Population, total",SP.POP.TOTL,1.007451e+07,1.037340e+07,1.068391e+07,1.100590e+07,1.133910e+07,1.168353e+07,...,4.327014e+07,4.466423e+07,4.609859e+07,4.757090e+07,4.908300e+07,5.063660e+07,5.223487e+07,5.387996e+07,5.557220e+07,5.731002e+07
245,Uganda,UGA,"Population, total",SP.POP.TOTL,6.788214e+06,7.006633e+06,7.240174e+06,7.487429e+06,7.746198e+06,8.014401e+06,...,3.166390e+07,3.277190e+07,3.391513e+07,3.509365e+07,3.630680e+07,3.755373e+07,3.883334e+07,4.014487e+07,4.148796e+07,4.286296e+07
246,Ukraine,UKR,"Population, total",SP.POP.TOTL,4.266215e+07,4.320364e+07,4.374947e+07,4.428590e+07,4.479433e+07,4.526194e+07,...,4.625820e+07,4.605330e+07,4.587070e+07,4.570610e+07,4.559330e+07,4.548960e+07,4.527195e+07,4.515403e+07,4.500464e+07,4.483116e+07
247,Upper middle income,UMC,"Population, total",SP.POP.TOTL,1.150569e+09,1.154967e+09,1.171821e+09,1.200060e+09,1.227974e+09,1.256856e+09,...,2.404283e+09,2.422394e+09,2.440543e+09,2.459176e+09,2.478492e+09,2.498184e+09,2.517980e+09,2.537437e+09,2.556922e+09,2.576203e+09
248,Uruguay,URY,"Population, total",SP.POP.TOTL,2.538651e+06,2.571690e+06,2.603887e+06,2.635129e+06,2.665390e+06,2.694537e+06,...,3.350824e+06,3.362755e+06,3.374415e+06,3.385624e+06,3.396777e+06,3.408005e+06,3.419546e+06,3.431552e+06,3.444006e+06,3.456750e+06
249,United States,USA,"Population, total",SP.POP.TOTL,1.806710e+08,1.836910e+08,1.865380e+08,1.892420e+08,1.918890e+08,1.943030e+08,...,3.040940e+08,3.067715e+08,3.093384e+08,3.116443e+08,3.139933e+08,3.162345e+08,3.186225e+08,3.210398e+08,3.234059e+08,3.257192e+08
250,Uzbekistan,UZB,"Population, total",SP.POP.TOTL,8.549493e+06,8.837349e+06,9.138097e+06,9.454250e+06,9.788986e+06,1.014374e+07,...,2.730280e+07,2.776740e+07,2.856240e+07,2.933940e+07,2.977450e+07,3.024320e+07,3.075770e+07,3.129890e+07,3.184790e+07,3.238720e+07
251,St. Vincent and the Grenadines,VCT,"Population, total",SP.POP.TOTL,8.094900e+04,8.214200e+04,8.320600e+04,8.416700e+04,8.506900e+04,8.597000e+04,...,1.091650e+05,1.092530e+05,1.093150e+05,1.093410e+05,1.093280e+05,1.093200e+05,1.093570e+05,1.094550e+05,1.096430e+05,1.098970e+05
252,"Venezuela, RB",VEN,"Population, total",SP.POP.TOTL,8.146847e+06,8.461685e+06,8.790589e+06,9.130349e+06,9.476252e+06,9.824692e+06,...,2.814170e+07,2.858732e+07,2.902803e+07,2.946329e+07,2.989308e+07,3.031785e+07,3.073838e+07,3.115513e+07,3.156818e+07,3.197706e+07
253,British Virgin Islands,VGB,"Population, total",SP.POP.TOTL,8.033000e+03,8.155000e+03,8.298000e+03,8.452000e+03,8.627000e+03,8.814000e+03,...,2.560400e+04,2.644700e+04,2.722400e+04,2.790100e+04,2.850900e+04,2.905600e+04,2.958800e+04,3.011300e+04,3.066100e+04,3.119600e+04
254,Virgin Islands (U.S.),VIR,"Population, total",SP.POP.TOTL,3.250000e+04,3.430000e+04,3.500000e+04,3.980000e+04,4.080000e+04,4.350000e+04,...,1.083990e+05,1.084050e+05,1.083580e+05,1.082920e+05,1.081910e+05,1.080440e+05,1.078840e+05,1.077100e+05,1.075100e+05,1.072680e+05
255,Vietnam,VNM,"Population, total",SP.POP.TOTL,3.267063e+07,3.366677e+07,3.468416e+07,3.572209e+07,3.678098e+07,3.786001e+07,...,8.670780e+07,8.756541e+07,8.847251e+07,8.943664e+07,9.045188e+07,9.149772e+07,9.254492e+07,9.357157e+07,9.456907e+07,9.554080e+07
256,Vanuatu,VUT,"Population, total",SP.POP.TOTL,6.369900e+04,6.571300e+04,6.780800e+04,6.996400e+04,7.213100e+04,7.428900e+04,...,2.253400e+05,2.307850e+05,2.362950e+05,2.418710e+05,2.474850e+05,2.531420e+05,2.588500e+05,2.646030e+05,2.704020e+05,2.762440e+05
257,World,WLD,"Population, total",SP.POP.TOTL,3.032160e+09,3.073369e+09,3.126510e+09,3.191786e+09,3.257460e+09,3.324545e+09,...,6.766297e+09,6.849569e+09,6.932870e+09,7.014984e+09,7.099558e+09,7.185138e+09,7.271323e+09,7.357559e+09,7.444157e+09,7.530360e+09
258,Samoa,WSM,"Population, total",SP.POP.TOTL,1.086460e+05,1.121190e+05,1.157880e+05,1.195610e+05,1.233540e+05,1.270680e+05,...,1.835260e+05,1.848260e+05,1.862050e+05,1.876650e+05,1.891940e+05,1.907570e+05,1.922900e+05,1.937590e+05,1.951250e+05,1.964400e+05
259,Kosovo,XKX,"Population, total",SP.POP.TOTL,9.470000e+05,9.660000e+05,9.940000e+05,1.022000e+06,1.050000e+06,1.078000e+06,...,1.747383e+06,1.761474e+06,1.775680e+06,1.791000e+06,1.805200e+06,1.824100e+06,1.821800e+06,1.801800e+06,1.816200e+06,1.830700e+06
260,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5.172135e+06,5.260501e+06,5.351799e+06,5.446063e+06,5.543339e+06,5.643643e+06,...,2.235639e+07,2.297493e+07,2.360678e+07,2.425221e+07,2.490997e+07,2.557632e+07,2.624633e+07,2.691621e+07,2.758421e+07,2.825042e+07
261,South Africa,ZAF,"Population, total",SP.POP.TOTL,1.745686e+07,1.792067e+07,1.840161e+07,1.889928e+07,1.941298e+07,1.994230e+07,...,5.041213e+07,5.097082e+07,5.158466e+07,5.226352e+07,5.299821e+07,5.376740e+07,5.453957e+07,5.529122e+07,5.601547e+07,5.671716e+07
262,Zambia,ZMB,"Population, total",SP.POP.TOTL,3.044846e+06,3.140264e+06,3.240587e+06,3.345145e+06,3.452942e+06,3.563407e+06,...,1.308252e+07,1.345642e+07,1.385003e+07,1.426476e+07,1.469994e+07,1.515321e+07,1.562097e+07,1.610059e+07,1.659139e+07,1.709413e+07
263,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3.747369e+06,3.870756e+06,3.999419e+06,4.132756e+06,4.269863e+06,4.410212e+06,...,1.355847e+07,1.381060e+07,1.408632e+07,1.438665e+07,1.471083e+07,1.505451e+07,1.541168e+07,1.577745e+07,1.615036e+07,1.652990e+07

In [23]:
df4.describe()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
count,2.600000e+02,2.600000e+02,2.600000e+02,2.600000e+02,2.600000e+02,2.600000e+02,2.600000e+02,2.600000e+02,2.600000e+02,2.600000e+02,...,2.630000e+02,2.630000e+02,2.630000e+02,2.630000e+02,2.620000e+02,2.620000e+02,2.620000e+02,2.620000e+02,2.620000e+02,2.620000e+02
mean,1.178154e+08,1.193987e+08,1.215153e+08,1.241500e+08,1.268056e+08,1.295275e+08,1.323946e+08,1.352566e+08,1.381695e+08,1.412246e+08,...,2.701044e+08,2.736129e+08,2.771430e+08,2.806617e+08,2.853395e+08,2.890142e+08,2.927178e+08,2.964305e+08,3.001647e+08,3.038948e+08
std,3.718574e+08,3.763198e+08,3.828766e+08,3.914229e+08,4.000141e+08,4.088431e+08,4.182402e+08,4.275910e+08,4.371472e+08,4.471854e+08,...,8.590759e+08,8.695747e+08,8.801411e+08,8.907482e+08,9.031121e+08,9.140650e+08,9.250832e+08,9.361120e+08,9.471972e+08,9.582705e+08
min,4.279000e+03,4.453000e+03,4.566000e+03,4.656000e+03,4.748000e+03,4.841000e+03,4.936000e+03,5.033000e+03,5.161000e+03,5.303000e+03,...,9.947000e+03,9.945000e+03,1.002500e+04,1.005700e+04,1.027900e+04,1.081900e+04,1.090800e+04,1.100100e+04,1.109700e+04,1.119200e+04
25%,5.184015e+05,5.301480e+05,5.426568e+05,5.559520e+05,5.684168e+05,5.727790e+05,5.786500e+05,5.882328e+05,6.257960e+05,6.567582e+05,...,1.363216e+06,1.425982e+06,1.443678e+06,1.465471e+06,1.415726e+06,1.431560e+06,1.447306e+06,1.471523e+06,1.522803e+06,1.577113e+06
50%,3.669524e+06,3.734206e+06,3.839584e+06,3.955168e+06,4.074411e+06,4.170862e+06,4.235562e+06,4.300502e+06,4.367325e+06,4.449014e+06,...,9.219637e+06,9.298515e+06,9.378126e+06,9.460802e+06,9.624267e+06,9.746730e+06,9.879129e+06,1.002115e+07,1.012427e+07,1.018073e+07
75%,2.532754e+07,2.611541e+07,2.690508e+07,2.770050e+07,2.847884e+07,2.924750e+07,2.999693e+07,3.059503e+07,3.120239e+07,3.179527e+07,...,4.994594e+07,5.038575e+07,5.087028e+07,5.140827e+07,5.249529e+07,5.318760e+07,5.396340e+07,5.493841e+07,5.590466e+07,5.716180e+07
max,3.032160e+09,3.073369e+09,3.126510e+09,3.191786e+09,3.257460e+09,3.324545e+09,3.394784e+09,3.464689e+09,3.535355e+09,3.610179e+09,...,6.766297e+09,6.849569e+09,6.932870e+09,7.014984e+09,7.099558e+09,7.185138e+09,7.271323e+09,7.357559e+09,7.444157e+09,7.530360e+09

5.) <strong> Population from UN (1950 to 2015)

In [39]:
xlsx = pd.ExcelFile('C:/Users/Michael/Dropbox/PhD/CU/0 - Courses/1- Fall 2018/Group Project - Solar Desal/Datasets/POPULATION/WPP2017_POP_F01_1_TOTAL_POPULATION_BOTH_SEXES.xlsx')
df5 = pd.read_excel(xlsx, 'ESTIMATES')

In [41]:
df5

,,,,,"Total population, both sexes combined, as of 1 July (thousands)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65
Index,Variant,Area,Notes,Country code,1950.000,1951.000,1952.000,1953.000,1954.000,1955.000,1956.000,1957.000,1958.000,1959.000,...,2006.000,2007.000,2008.000,2009.000,2010.000,2011.000,2012.000,2013.000,2014.000,2015.000
1,Estimates,WORLD,NaN,900,2536274.721,2583816.786,2630584.384,2677230.358,2724302.468,2772242.535,2821383.444,2871952.278,2924081.243,2977824.686,...,6623847.913,6706418.593,6789771.253,6873741.054,6958169.159,7043008.586,7128176.935,7213426.452,7298453.033,7383008.820
2,Estimates,More developed regions,a,901,814865.069,824212.665,834074.389,844263.515,854631.777,865069.444,875507.091,885913.898,896292.115,906668.496,...,1215324.559,1220392.009,1225552.166,1230533.857,1235142.506,1239297.769,1243054.571,1246519.987,1249863.519,1253206.546
3,Estimates,Less developed regions,b,902,1721409.652,1759604.121,1796509.995,1832966.843,1869670.691,1907173.091,1945876.353,1986038.380,2027789.128,2071156.190,...,5408523.354,5486026.584,5564219.087,5643207.197,5723026.653,5803710.817,5885122.364,5966906.465,6048589.514,6129802.274
4,Estimates,Least developed countries,c,941,195259.056,199052.136,202904.860,206885.020,211045.058,215421.063,220033.004,224884.923,229967.077,235259.472,...,772488.966,790978.141,809730.997,828953.320,848791.962,869298.106,890423.474,912093.996,934192.321,956631.108
5,Estimates,"Less developed regions, excluding least developed countries",d,934,1526150.596,1560551.985,1593605.135,1626081.823,1658625.633,1691752.028,1725843.349,1761153.457,1797822.051,1835896.718,...,4636034.388,4695048.443,4754488.090,4814253.877,4874234.691,4934412.711,4994698.890,5054812.469,5114397.193,5173171.166
6,Estimates,"Less developed regions, excluding China",NaN,948,1157196.536,1179836.180,1203955.385,1229495.321,1256404.335,1284636.948,1314154.920,1344926.320,1376925.489,1410131.190,...,4049235.086,4118990.845,4189420.663,4260613.466,4332606.955,4405430.289,4478990.918,4553048.983,4627282.130,4701441.323
7,Estimates,High-income countries,e,1503,672895.958,680630.360,688858.965,697440.327,706262.038,715241.145,724324.981,733489.975,742737.736,752087.820,...,1114996.070,1123635.564,1132346.742,1140755.107,1148592.393,1155747.285,1162295.164,1168383.994,1174248.893,1180060.957
8,Estimates,Middle-income countries,e,1517,1734480.842,1772394.343,1808889.488,1844730.274,1880558.365,1916892.378,1954124.307,1992523.405,2032248.837,2073370.392,...,5004220.786,5064199.911,5124552.316,5185424.323,5246881.509,5308974.416,5371564.898,5434287.584,5496648.665,5558263.979
9,Estimates,Upper-middle-income countries,e,1502,956203.656,980195.343,1001876.475,1022053.675,1041402.171,1060465.450,1079650.980,1099234.604,1119374.513,1140134.427,...,2415538.091,2433501.344,2451690.235,2470293.547,2489411.123,2509105.054,2529239.069,2549461.847,2569293.476,2588362.980
10,Estimates,Lower-middle-income countries,e,1501,778277.186,792199.000,807013.013,822676.599,839156.194,856426.928,874473.327,893288.801,912874.324,933235.965,...,2588682.695,2630698.567,2672862.081,2715130.776,2757470.386,2799869.362,2842325.829,2884825.737,2927355.189,2969900.999
11,Estimates,Low-income countries,e,1500,128096.648,129969.107,131991.799,134194.006,136593.546,139196.080,141995.133,144972.227,148099.273,151341.932,...,502059.411,515977.457,530237.548,544900.284,560007.444,575572.515,591576.162,607987.351,624759.914,641858.608
12,Estimates,Sub-Saharan Africa,f,947,179621.076,183039.180,186625.519,190377.650,194295.351,198379.925,202635.053,207066.077,211680.109,216485.360,...,757212.872,778189.569,799848.676,822170.425,845136.154,868747.940,893001.485,917862.127,943284.908,969234.251
13,Estimates,AFRICA,NaN,903,228670.019,233277.049,238113.121,243177.791,248471.497,253995.025,259750.195,265739.281,271965.261,278431.545,...,948156.166,972265.961,997144.670,1022858.654,1049446.344,1076933.813,1105285.268,1134398.192,1164129.789,1194369.908
14,Estimates,Eastern Africa,NaN,910,66758.254,68208.356,69711.520,71272.418,72895.738,74585.806,76346.981,78183.385,80098.967,82097.498,...,309313.054,318329.032,327631.032,337191.043,346987.498,357015.563,367279.164,377775.443,388502.716,399458.026
15,Estimates,Burundi,NaN,108,2308.920,2359.123,2403.511,2445.420,2487.390,2531.184,2577.735,2627.233,2679.141,2732.438,...,7675.338,7939.573,8212.264,8489.031,8766.930,9043.508,9319.710,9600.186,9891.790,10199.270
16,Estimates,Comoros,NaN,174,159.459,163.139,166.541,169.752,172.853,175.903,178.946,181.992,185.043,188.097,...,626.425,641.620,657.229,673.252,689.692,706.569,723.868,741.500,759.385,777.424
17,Estimates,Djibouti,NaN,262,62.001,63.306,64.750,66.269,67.872,69.589,71.497,73.702,76.353,79.612,...,796.208,809.402,822.934,836.840,851.146,865.937,881.185,896.688,912.164,927.414
18,Estimates,Eritrea,NaN,232,1142.148,1159.798,1179.537,1201.124,1224.384,1249.193,1275.534,1303.420,1332.953,1364.276,...,4066.648,4153.332,4232.636,4310.334,4390.840,4474.690,4560.977,4650.998,4746.045,4846.976
19,Estimates,Ethiopia,NaN,231,18128.034,18466.968,18819.700,19184.292,19560.016,19947.292,20347.813,20764.450,21201.034,21661.996,...,78850.689,81000.409,83184.892,85416.253,87702.670,90046.756,92444.183,94887.724,97366.774,99873.033
20,Estimates,Kenya,NaN,404,6076.758,6240.163,6412.363,6593.109,6782.287,6979.931,7186.211,7401.421,7625.995,7860.475,...,37052.050,38085.909,39148.416,40237.204,41350.152,42486.839,43646.629,44826.849,46024.250,47236.259
21,Estimates,Madagascar,NaN,450,4083.554,4168.386,4256.770,4348.720,4444.288,4543.542,4646.576,4753.523,4864.524,4979.753,...,18880.268,19433.523,19996.469,20569.121,21151.640,21743.949,22346.573,22961.146,23589.801,24234.088
22,Estimates,Malawi,NaN,454,2953.871,3008.067,3065.034,3124.734,3187.173,3252.332,3320.220,3390.797,3464.047,3539.970,...,13429.262,13840.969,14271.234,14714.602,15167.095,15627.618,16097.305,16577.147,17068.838,17573.607
23,Estimates,Mauritius,1,480,493.255,506.433,521.188,537.047,553.626,570.648,587.952,605.487,623.276,641.428,...,1228.098,1233.911,1239.293,1244.024,1247.955,1251.023,1253.371,1255.290,1257.219,1259.456
24,Estimates,Mayotte,NaN,175,15.141,15.728,16.443,17.249,18.094,18.985,19.901,20.840,21.832,22.882,...,184.031,190.098,196.279,202.503,208.718,214.923,221.122,227.351,233.638,240.020
25,Estimates,Mozambique,NaN,508,6152.237,6248.717,6352.584,6463.088,6579.634,6701.749,6829.092,6961.486,7098.859,7241.232,...,21547.463,22188.387,22846.758,23524.063,24221.405,24939.005,25676.606,26434.372,27212.382,28010.691
26,Estimates,Réunion,NaN,638,248.110,259.295,268.486,276.526,284.080,291.658,299.571,307.979,316.879,326.167,...,800.543,808.735,816.335,823.537,830.519,837.304,843.907,850.400,856.867,863.363
27,Estimates,Rwanda,NaN,646,2186.185,2250.677,2313.311,2378.445,2448.825,2525.527,2607.950,2693.821,2779.550,2860.691,...,9206.580,9447.402,9708.169,9977.446,10246.842,10516.071,10788.853,11065.151,11345.357,11629.553
28,Estimates,Seychelles,NaN,690,36.325,36.881,37.437,37.964,38.455,38.909,39.334,39.769,40.254,40.826,...,89.659,90.281,90.686,91.034,91.405,91.834,92.285,92.765,93.254,93.742
29,Estimates,Somalia,NaN,706,2264.082,2307.673,2351.929,2397.159,2443.625,2491.520,2540.989,2592.133,2644.994,2699.595,...,10718.317,11038.596,11369.276,11707.990,12053.223,12404.725,12763.776,13132.349,13513.125,13908.129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,Estimates,Saint Pierre and Miquelon,NaN,666,4.571,4.603,4.633,4.660,4.691,4.723,4.766,4.800,4.841,4.882,...,6.260,6.261,6.269,6.277,6.274,6.274,6.276,6.273,6.277,6.290
245,Estimates,United States of America,NaN,840,158804.395,160905.035,163324.851,165988.190,168827.613,171783.842,174805.941,177851.156,180884.458,183877.873,...,297827.356,300595.175,303374.067,306076.362,308641.391,311051.373,313335.423,315536.676,317718.779,319929.162
246,Estimates,OCEANIA,NaN,909,12647.776,12971.297,13275.573,13572.461,13870.902,14176.713,14492.818,14819.081,15152.850,15489.650,...,34138.499,34747.498,35379.766,36014.268,36635.566,37237.877,37824.446,38399.398,38970.389,39542.980
247,Estimates,Australia/New Zealand,NaN,927,10085.342,10360.535,10613.768,10857.134,11099.673,11347.299,11602.730,11865.654,12133.082,12400.154,...,24759.523,25179.815,25620.818,26062.522,26490.126,26898.164,27289.592,27668.256,28041.368,28414.088
248,Estimates,Australia,24,36,8177.342,8412.604,8620.970,8816.902,9011.190,9210.908,9419.268,9635.828,9856.949,10076.741,...,20573.606,20946.664,21342.493,21739.040,22120.064,22479.799,22821.849,23150.729,23474.668,23799.556
249,Estimates,New Zealand,NaN,554,1908.000,1947.931,1992.798,2040.232,2088.483,2136.391,2183.462,2229.826,2276.133,2323.413,...,4185.917,4233.151,4278.325,4323.482,4370.062,4418.365,4467.743,4517.527,4566.700,4614.532
250,Estimates,Melanesia,NaN,928,2165.340,2203.567,2244.826,2288.858,2335.445,2384.384,2435.627,2489.137,2544.919,2603.082,...,8230.174,8415.756,8604.130,8793.691,8983.311,9172.576,9361.723,9551.124,9741.442,9933.150
251,Estimates,Fiji,NaN,242,288.988,296.209,304.814,314.351,324.482,334.976,345.744,356.820,368.319,380.451,...,827.411,834.812,843.340,851.967,859.950,867.086,873.596,879.715,885.806,892.149
252,Estimates,New Caledonia,NaN,540,64.825,64.256,64.408,65.126,66.278,67.748,69.468,71.376,73.449,75.678,...,236.435,240.129,243.786,247.413,251.037,254.657,258.275,261.889,265.497,269.091
253,Estimates,Papua New Guinea,NaN,598,1674.036,1702.370,1731.230,1761.050,1792.140,1824.712,1858.885,1894.678,1931.986,1970.694,...,6470.272,6627.922,6787.187,6947.447,7108.239,7269.348,7430.836,7592.865,7755.785,7919.825
254,Estimates,Solomon Islands,NaN,90,89.794,91.809,94.077,96.560,99.215,102.024,104.965,108.018,111.182,114.465,...,481.422,492.940,504.477,516.079,527.790,539.614,551.531,563.513,575.504,587.482
255,Estimates,Vanuatu,NaN,548,47.697,48.923,50.297,51.771,53.330,54.924,56.565,58.245,59.983,61.794,...,214.634,219.953,225.340,230.785,236.295,241.871,247.485,253.142,258.850,264.603
256,Estimates,Micronesia,NaN,954,155.095,158.150,161.223,164.332,167.560,170.908,174.486,178.265,182.318,186.655,...,502.441,502.012,501.777,502.040,503.056,504.937,507.706,511.151,514.970,518.995
257,Estimates,Guam,NaN,316,59.651,60.262,60.877,61.471,62.053,62.641,63.258,63.926,64.697,65.619,...,158.648,158.855,159.035,159.231,159.444,159.678,159.973,160.375,160.967,161.797
258,Estimates,Kiribati,NaN,296,33.048,33.623,34.286,35.007,35.777,36.596,37.455,38.346,39.268,40.240,...,94.260,96.311,98.440,100.568,102.652,104.656,106.613,108.535,110.458,112.407
259,Estimates,Marshall Islands,NaN,584,13.001,13.222,13.438,13.624,13.784,13.894,13.993,14.083,14.208,14.390,...,52.078,52.137,52.218,52.320,52.425,52.542,52.663,52.793,52.898,52.994
260,Estimates,Micronesia (Fed. States of),NaN,583,32.001,33.408,34.600,35.693,36.777,37.893,39.093,40.373,41.727,43.126,...,105.684,105.078,104.478,103.960,103.616,103.468,103.503,103.702,104.015,104.433
261,Estimates,Nauru,NaN,520,2.954,3.057,3.194,3.337,3.481,3.619,3.756,3.900,4.051,4.232,...,10.071,10.002,9.947,9.945,10.025,10.208,10.478,10.790,11.070,11.260
262,Estimates,Northern Mariana Islands,NaN,580,6.999,7.081,7.215,7.409,7.674,8.010,8.407,8.835,9.280,9.689,...,61.688,59.513,57.431,55.674,54.424,53.786,53.718,54.036,54.468,54.816
263,Estimates,Palau,NaN,585,7.441,7.497,7.613,7.791,8.014,8.255,8.524,8.802,9.087,9.359,...,20.012,20.116,20.228,20.342,20.470,20.599,20.758,20.920,21.094,21.288
264,Estimates,Polynesia,25,957,241.999,249.045,255.756,262.137,268.224,274.122,279.975,286.025,292.531,299.759,...,646.361,649.915,653.041,656.015,659.073,662.200,665.425,668.867,672.609,676.747
265,Estimates,American Samoa,NaN,16,18.940,19.296,19.540,19.677,19.729,19.702,19.652,19.598,19.602,19.734,...,58.650,57.903,57.030,56.227,55.637,55.320,55.230,55.307,55.437,55.537
266,Estimates,Cook Islands,NaN,184,15.077,15.410,15.643,15.844,16.071,16.372,16.738,17.155,17.581,17.967,...,19.696,19.511,19.212,18.868,18.545,18.257,17.996,17.767,17.588,17.449
267,Estimates,French Polynesia,NaN,258,60.266,62.085,63.870,65.593,67.252,68.854,70.429,72.060,73.827,75.806,...,257.832,260.594,263.179,265.581,267.820,269.843,271.703,273.528,275.484,277.690
268,Estimates,Niue,NaN,570,4.667,4.678,4.684,4.686,4.685,4.694,4.700,4.719,4.750,4.788,...,1.662,1.651,1.639,1.636,1.630,1.630,1.623,1.623,1.616,1.629
269,Estimates,Samoa,NaN,882,82.097,84.437,86.819,89.238,91.696,94.208,96.799,99.500,102.353,105.380,...,181.094,182.286,183.526,184.826,186.205,187.665,189.194,190.757,192.290,193.759
270,Estimates,Tokelau,NaN,772,1.566,1.517,1.504,1.521,1.559,1.607,1.671,1.722,1.782,1.823,...,1.167,1.141,1.126,1.126,1.140,1.151,1.167,1.187,1.219,1.252
271,Estimates,Tonga,NaN,776,47.220,49.315,51.170,52.783,54.150,55.323,56.366,57.387,58.508,59.873,...,101.689,102.357,103.005,103.604,104.137,104.577,104.951,105.328,105.782,106.364
272,Estimates,Tuvalu,NaN,798,5.166,5.220,5.293,5.371,5.473,5.569,5.658,5.760,5.864,5.982,...,10.137,10.243,10.340,10.441,10.531,10.628,10.725,10.819,10.908,11.001
273,Estimates,Wallis and Futuna Islands,NaN,876,7.000,7.087,7.233,7.424,7.609,7.793,7.962,8.124,8.264,8.406,...,14.434,14.229,13.984,13.706,13.428,13.129,12.836,12.551,12.285,12.066

In [49]:
df_base = pd.read_csv("C:/Users/Michael/Dropbox/PhD/CU/0 - Courses/1- Fall 2018/Group Project - Solar Desal/Datasets/Desal with other data.csv")

In [50]:
df_base

,Award date,Capacity (m3/d),Capacity (MGD),Capital Cost per Unit of Daily Capacity ($/m3/d),Country,Customer type,EPC contractor (desal),EPC price,Feedwater,Holding Company,...,Technology,Thermal design,Unit size (m3/d),Units,Winner,Water price (USD/m3),Water Year,Water Cost,Water Inflation Multiple,Inflation Adjusted Water Cost
0,2002.0,"14,000",3.70,323.5982978,Algeria,Industry (TDS <10ppm),Linde-KCA-Dresden GmbH,3400000.0,River water or low concentrated saline water (...,Linde Group,...,RO (Reverse Osmosis),NaN,4666.67,3.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
1,2002.0,"14,000",3.70,1111.655329,Algeria,Municipalities as drinking water (TDS 10ppm - ...,SNC-Lavalin / Strabag,11680000.0,Brackish water or inland water (TDS 3000ppm - ...,Consortium,...,RO (Reverse Osmosis),NaN,7000.00,2.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
2,2002.0,"10,000",2.64,3296.514895,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Passavant-Roediger GmbH,24740000.0,Seawater (TDS 20000ppm - 50000ppm),Drake & Scull International PJSC,...,RO (Reverse Osmosis),NaN,2500.00,4.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
3,1992.0,"5,760",1.52,4352.741253,Algeria,Industry (TDS <10ppm),Veolia Sidem (Societe Internationale De Dessal...,14780000.0,Seawater (TDS 20000ppm - 50000ppm),Veolia,...,MED (Multi-effect Distillation),TVC (Thermal Vapor Compression),1440.00,4.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
4,1993.0,"5,678",1.50,4287.88339,Algeria,Industry (TDS <10ppm),"Aqua-Chem, Inc.",14720000.0,Seawater (TDS 20000ppm - 50000ppm),Altus Capital Partners,...,MSF (Multi-stage Flash),Flash,1135.60,5.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
5,1988.0,"5,000",1.32,4276.00306,Algeria,Industry (TDS <10ppm),Veolia Sidem (Societe Internationale De Dessal...,11400000.0,Seawater (TDS 20000ppm - 50000ppm),Veolia,...,MED (Multi-effect Distillation),NaN,2500.00,2.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
6,2001.0,"5,000",1.32,3296.514894,Algeria,Municipalities as drinking water (TDS 10ppm - ...,"Grupo SETA, S.L.",12370000.0,Seawater (TDS 20000ppm - 50000ppm),"Grupo SETA, S.L.",...,RO (Reverse Osmosis),NaN,2500.00,2.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
7,2002.0,"5,000",1.32,1332.463579,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Linde-KCA-Dresden GmbH / Strabag,5000000.0,Seawater (TDS 20000ppm - 50000ppm),Consortium,...,RO (Reverse Osmosis),NaN,5000.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
8,2001.0,"5,000",1.32,3296.514894,Algeria,Municipalities as drinking water (TDS 10ppm - ...,"Grupo SETA, S.L.",12370000.0,Seawater (TDS 20000ppm - 50000ppm),"Grupo SETA, S.L.",...,RO (Reverse Osmosis),NaN,2500.00,2.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
9,1978.0,"4,800",1.27,2440.535475,Algeria,Industry (TDS <10ppm),Deutsche Babcock,4760000.0,Brackish water or inland water (TDS 3000ppm - ...,Bilfinger Berger,...,RO (Reverse Osmosis),NaN,1600.00,3.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
10,1978.0,"4,800",1.27,492.3783288,Algeria,Industry (TDS <10ppm),Hager + Elsasser GmbH,700000.0,Brackish water or inland water (TDS 3000ppm - ...,RENA GmbH,...,RO (Reverse Osmosis),NaN,1600.00,3.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
11,1971.0,"4,542",1.20,5280.543741,Algeria,Industry (TDS <10ppm),"Ionics, Inc.",4090000.0,Brackish water or inland water (TDS 3000ppm - ...,GdF Suez,...,ED (Electrodialysis),NaN,4542.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
12,1978.0,"4,440",1.17,2961.357473,Algeria,Industry (TDS <10ppm),Deutsche Babcock,4420000.0,Brackish water or inland water (TDS 3000ppm - ...,Bilfinger Berger,...,RO (Reverse Osmosis),NaN,1480.00,3.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
13,1978.0,"4,440",1.17,532.3008959,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Hager + Elsasser GmbH,700000.0,Brackish water or inland water (TDS 3000ppm - ...,RENA GmbH,...,RO (Reverse Osmosis),NaN,1480.00,3.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
14,1978.0,"3,264",0.86,7728.536075,Algeria,Industry (TDS <10ppm),Sasakura Engineering Co Ltd,8480000.0,Seawater (TDS 20000ppm - 50000ppm),Sasakura Engineering Co Ltd,...,MSF (Multi-stage Flash),Flash,1088.00,3.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
15,1993.0,"3,000",0.79,4311.377417,Algeria,Industry (TDS <10ppm),Aquatech International Corporation,7820000.0,Seawater (TDS 20000ppm - 50000ppm),Aquatech International Corporation,...,MSF (Multi-stage Flash),Flash,1000.00,3.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
16,1982.0,"3,000",0.79,1148.487282,Algeria,Industry (TDS <10ppm),Christ Water Technology Group,1400000.0,Brackish water or inland water (TDS 3000ppm - ...,GLV,...,RO (Reverse Osmosis),NaN,3000.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
17,1981.0,"2,880",0.76,6517.835347,Algeria,Industry (TDS <10ppm),Veolia Sidem (Societe Internationale De Dessal...,7390000.0,Seawater (TDS 20000ppm - 50000ppm),Veolia,...,MED (Multi-effect Distillation),NaN,1440.00,2.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
18,2002.0,"2,500",0.66,1332.463579,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Linde-KCA-Dresden GmbH / Strabag,2500000.0,Seawater (TDS 20000ppm - 50000ppm),Consortium,...,RO (Reverse Osmosis),NaN,2500.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
19,2002.0,"2,500",0.66,1332.463579,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Linde-KCA-Dresden GmbH / Strabag,2500000.0,Seawater (TDS 20000ppm - 50000ppm),Consortium,...,RO (Reverse Osmosis),NaN,2500.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
20,2002.0,"2,500",0.66,1385.762122,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Linde-KCA-Dresden GmbH,2600000.0,Seawater (TDS 20000ppm - 50000ppm),Linde Group,...,RO (Reverse Osmosis),NaN,2500.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
21,2003.0,"2,500",0.66,1297.617787,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Linde-KCA-Dresden GmbH,2500000.0,Seawater (TDS 20000ppm - 50000ppm),Linde Group,...,RO (Reverse Osmosis),NaN,2500.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
22,2002.0,"2,500",0.66,1332.463579,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Linde-KCA-Dresden GmbH,2500000.0,Seawater (TDS 20000ppm - 50000ppm),Linde Group,...,RO (Reverse Osmosis),NaN,2500.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
23,2002.0,"2,500",0.66,1332.463579,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Linde-KCA-Dresden GmbH,2500000.0,Seawater (TDS 20000ppm - 50000ppm),Linde Group,...,RO (Reverse Osmosis),NaN,2500.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
24,2002.0,"2,500",0.66,1332.463579,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Linde-KCA-Dresden GmbH / Strabag,2500000.0,Seawater (TDS 20000ppm - 50000ppm),Consortium,...,RO (Reverse Osmosis),NaN,2500.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
25,2002.0,"2,500",0.66,3299.179822,Algeria,Municipalities as drinking water (TDS 10ppm - ...,"Grupo SETA, S.L.",6190000.0,Seawater (TDS 20000ppm - 50000ppm),"Grupo SETA, S.L.",...,RO (Reverse Osmosis),NaN,2500.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
26,1987.0,"2,500",0.66,5874.972904,Algeria,Industry (TDS <10ppm),Veolia Sidem (Societe Internationale De Dessal...,7430000.0,Seawater (TDS 20000ppm - 50000ppm),Veolia,...,MED (Multi-effect Distillation),TVC (Thermal Vapor Compression),1250.00,2.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
27,1992.0,"2,407",0.64,1367.437641,Algeria,Industry (TDS <10ppm),"Ionics, Inc.",1990000.0,Brackish water or inland water (TDS 3000ppm - ...,GdF Suez,...,ED (Electrodialysis),NaN,267.44,9.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
28,2002.0,"2,400",0.63,3525.950634,Algeria,Municipalities as drinking water (TDS 10ppm - ...,SNTE FR,6210000.0,Seawater (TDS 20000ppm - 50000ppm),SNTE FR,...,RO (Reverse Osmosis),NaN,1200.00,2.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
29,2002.0,"2,400",0.63,3525.950634,Algeria,Municipalities as drinking water (TDS 10ppm - ...,SNTE FR,6210000.0,Seawater (TDS 20000ppm - 50000ppm),SNTE FR,...,RO (Reverse Osmosis),NaN,1200.00,2.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8718,1998.0,350,0.09,1546.769501,Yemen,Municipalities as drinking water (TDS 10ppm - ...,"Veolia Water Solutions & Technologies, Saudi-I...",360000.0,Brackish water or inland water (TDS 3000ppm - ...,Veolia,...,RO (Reverse Osmosis),NaN,350.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8719,1992.0,327,0.09,1763.770462,Yemen,Municipalities as drinking water (TDS 10ppm - ...,NaN,340000.0,Brackish water or inland water (TDS 3000ppm - ...,NaN,...,RO (Reverse Osmosis),NaN,327.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8720,2005.0,300,0.08,790.3174603,Yemen,Industry (TDS <10ppm),Metito,195000.0,Brine or concentrated seawater (TDS >50000ppm),Metito,...,RO (Reverse Osmosis),NaN,300.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8721,1984.0,300,0.08,6291.177413,Yemen,Municipalities as drinking water (TDS 10ppm - ...,Promac BV,800000.0,Seawater (TDS 20000ppm - 50000ppm),Promac BV,...,RO (Reverse Osmosis),NaN,300.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8722,1984.0,300,0.08,6291.177413,Yemen,Municipalities as drinking water (TDS 10ppm - ...,Promac BV,800000.0,Seawater (TDS 20000ppm - 50000ppm),Promac BV,...,RO (Reverse Osmosis),NaN,300.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8723,2002.0,250,0.07,1417.193685,Yemen,Power stations (TDS <10ppm),"Veolia Water Solutions & Technologies, Saudi-I...",260000.0,Brackish water or inland water (TDS 3000ppm - ...,Veolia,...,RO (Reverse Osmosis),NaN,250.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8724,2003.0,250,0.07,1349.522499,Yemen,Power stations (TDS <10ppm),"Veolia Water Solutions & Technologies, Saudi-I...",260000.0,Brackish water or inland water (TDS 3000ppm - ...,Veolia,...,RO (Reverse Osmosis),NaN,250.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8725,1978.0,208,0.05,3571.095571,Yemen,Industry (TDS <10ppm),Degremont,220000.0,Brackish water or inland water (TDS 3000ppm - ...,GdF Suez,...,RO (Reverse Osmosis),NaN,208.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8726,1978.0,208,0.05,3571.095571,Yemen,Industry (TDS <10ppm),Degremont,220000.0,Brackish water or inland water (TDS 3000ppm - ...,GdF Suez,...,RO (Reverse Osmosis),NaN,208.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8727,1990.0,192,0.05,1953.58327,Yemen,Industry (TDS <10ppm),NaN,200000.0,Brackish water or inland water (TDS 3000ppm - ...,NaN,...,RO (Reverse Osmosis),NaN,192.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8728,1990.0,192,0.05,1953.58327,Yemen,Industry (TDS <10ppm),NaN,200000.0,Brackish water or inland water (TDS 3000ppm - ...,NaN,...,RO (Reverse Osmosis),NaN,192.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8729,1984.0,180,0.05,2490.257727,Yemen,Industry (TDS <10ppm),NaN,190000.0,Brackish water or inland water (TDS 3000ppm - ...,NaN,...,RO (Reverse Osmosis),NaN,180.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8730,1984.0,180,0.05,2490.257727,Yemen,Industry (TDS <10ppm),NaN,190000.0,Brackish water or inland water (TDS 3000ppm - ...,NaN,...,RO (Reverse Osmosis),NaN,180.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8731,1995.0,180,0.05,4166.050563,Yemen,Municipalities as drinking water (TDS 10ppm - ...,GAWA,480000.0,Seawater (TDS 20000ppm - 50000ppm),GAWA,...,RO (Reverse Osmosis),NaN,180.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8732,1998.0,150,0.04,1569.395758,Yemen,Industry (TDS <10ppm),"Veolia Water Solutions & Technologies, Saudi-I...",160000.0,Brackish water or inland water (TDS 3000ppm - ...,Veolia,...,RO (Reverse Osmosis),NaN,150.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8733,1981.0,130,0.03,2904.019633,Yemen,Industry (TDS <10ppm),NaN,140000.0,Brackish water or inland water (TDS 3000ppm - ...,NaN,...,RO (Reverse Osmosis),NaN,130.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8734,1981.0,130,0.03,2904.019633,Yemen,Industry (TDS <10ppm),NaN,140000.0,Brackish water or inland water (TDS 3000ppm - ...,NaN,...,RO (Reverse Osmosis),NaN,130.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8735,1974.0,125,0.03,12392.68402,Yemen,Industry (TDS <10ppm),Veolia Sidem (Societe Internationale De Dessal...,340000.0,Seawater (TDS 20000ppm - 50000ppm),Veolia,...,MED (Multi-effect Distillation),NaN,125.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8736,1978.0,120,0.03,9003.489442,Yemen,Municipalities as drinking water (TDS 10ppm - ...,Hamworthy Serck Como GmbH,320000.0,Seawater (TDS 20000ppm - 50000ppm),Wartsila,...,MED (Multi-effect Distillation),NaN,120.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8737,1978.0,120,0.03,9003.489442,Yemen,Municipalities as drinking water (TDS 10ppm - ...,Hamworthy Serck Como GmbH,320000.0,Seawater (TDS 20000ppm - 50000ppm),Wartsila,...,MED (Multi-effect Distillation),NaN,120.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8738,1984.0,114,0.03,1998.304311,Yemen,Municipalities as drinking water (TDS 10ppm - ...,Al Kawther Industries,100000.0,Brackish water or inland water (TDS 3000ppm - ...,Al Murjan Group,...,RO (Reverse Osmosis),NaN,114.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8739,1984.0,114,0.03,1998.304311,Yemen,Municipalities as drinking water (TDS 10ppm - ...,Al Kawther Industries,100000.0,Brackish water or inland water (TDS 3000ppm - ...,Al Murjan Group,...,RO (Reverse Osmosis),NaN,114.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8740,1984.0,114,0.03,1998.304311,Yemen,Municipalities as drinking water (TDS 10ppm - ...,Al Kawther Industries,100000.0,Brackish water or inland water (TDS 3000ppm - ...,Al Murjan Group,...,RO (Reverse Osmosis),NaN,114.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8741,1984.0,114,0.03,1998.304311,Yemen,Municipalities as drinking water (TDS 10ppm - ...,Al Kawther Industries,100000.0,Brackish water or inland water (TDS 3000ppm - ...,Al Murjan Group,...,RO (Reverse Osmosis),NaN,114.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8742,1979.0,100,0.03,2974.757282,Yemen,Industry (TDS <10ppm),Hubert Stavoren B.V.,100000.0,Brackish water or inland water (TDS 3000ppm - ...,Hubert Stavoren B.V.,...,RO (Reverse Osmosis),NaN,100.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8743,1979.0,100,0.03,2974.757282,Yemen,Industry (TDS <10ppm),Hubert Stavoren B.V.,100000.0,Brackish water or inland water (TDS 3000ppm - ...,Hubert Stavoren B.V.,...,RO (Reverse Osmosis),NaN,100.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8744,1983.0,100,0.03,2461.044177,Yemen,Industry (TDS <10ppm),NaN,100000.0,Brackish water or inland water (TDS 3000ppm - ...,NaN,...,RO (Reverse Osmosis),NaN,100.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8745,1983.0,100,0.03,2461.044177,Yemen,Industry (TDS <10ppm),NaN,100000.0,Brackish water or inland water (TDS 3000ppm - ...,NaN,...,RO (Reverse Osmosis),NaN,100.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8746,1986.0,100,0.03,2236.49635,Yemen,Industry (TDS <10ppm),NaN,100000.0,Brackish water or inland water (TDS 3000ppm - ...,NaN,...,RO (Reverse Osmosis),NaN,100.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8747,1986.0,100,0.03,2236.49635,Yemen,Industry (TDS <10ppm),NaN,100000.0,Brackish water or inland water (TDS 3000ppm - ...,NaN,...,RO (Reverse Osmosis),NaN,100.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961

In [71]:
df_base

,Award date,Capacity (m3/d),Capacity (MGD),Capital Cost per Unit of Daily Capacity ($/m3/d),Country,Customer type,EPC contractor (desal),EPC price,Feedwater,Holding Company,...,Technology,Thermal design,Unit size (m3/d),Units,Winner,Water price (USD/m3),Water Year,Water Cost,Water Inflation Multiple,Inflation Adjusted Water Cost
0,2002.0,"14,000",3.70,323.5982978,Algeria,Industry (TDS <10ppm),Linde-KCA-Dresden GmbH,3400000.0,River water or low concentrated saline water (...,Linde Group,...,RO (Reverse Osmosis),NaN,4666.67,3.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
1,2002.0,"14,000",3.70,1111.655329,Algeria,Municipalities as drinking water (TDS 10ppm - ...,SNC-Lavalin / Strabag,11680000.0,Brackish water or inland water (TDS 3000ppm - ...,Consortium,...,RO (Reverse Osmosis),NaN,7000.00,2.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
2,2002.0,"10,000",2.64,3296.514895,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Passavant-Roediger GmbH,24740000.0,Seawater (TDS 20000ppm - 50000ppm),Drake & Scull International PJSC,...,RO (Reverse Osmosis),NaN,2500.00,4.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
3,1992.0,"5,760",1.52,4352.741253,Algeria,Industry (TDS <10ppm),Veolia Sidem (Societe Internationale De Dessal...,14780000.0,Seawater (TDS 20000ppm - 50000ppm),Veolia,...,MED (Multi-effect Distillation),TVC (Thermal Vapor Compression),1440.00,4.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
4,1993.0,"5,678",1.50,4287.88339,Algeria,Industry (TDS <10ppm),"Aqua-Chem, Inc.",14720000.0,Seawater (TDS 20000ppm - 50000ppm),Altus Capital Partners,...,MSF (Multi-stage Flash),Flash,1135.60,5.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
5,1988.0,"5,000",1.32,4276.00306,Algeria,Industry (TDS <10ppm),Veolia Sidem (Societe Internationale De Dessal...,11400000.0,Seawater (TDS 20000ppm - 50000ppm),Veolia,...,MED (Multi-effect Distillation),NaN,2500.00,2.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
6,2001.0,"5,000",1.32,3296.514894,Algeria,Municipalities as drinking water (TDS 10ppm - ...,"Grupo SETA, S.L.",12370000.0,Seawater (TDS 20000ppm - 50000ppm),"Grupo SETA, S.L.",...,RO (Reverse Osmosis),NaN,2500.00,2.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
7,2002.0,"5,000",1.32,1332.463579,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Linde-KCA-Dresden GmbH / Strabag,5000000.0,Seawater (TDS 20000ppm - 50000ppm),Consortium,...,RO (Reverse Osmosis),NaN,5000.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
8,2001.0,"5,000",1.32,3296.514894,Algeria,Municipalities as drinking water (TDS 10ppm - ...,"Grupo SETA, S.L.",12370000.0,Seawater (TDS 20000ppm - 50000ppm),"Grupo SETA, S.L.",...,RO (Reverse Osmosis),NaN,2500.00,2.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
9,1978.0,"4,800",1.27,2440.535475,Algeria,Industry (TDS <10ppm),Deutsche Babcock,4760000.0,Brackish water or inland water (TDS 3000ppm - ...,Bilfinger Berger,...,RO (Reverse Osmosis),NaN,1600.00,3.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
10,1978.0,"4,800",1.27,492.3783288,Algeria,Industry (TDS <10ppm),Hager + Elsasser GmbH,700000.0,Brackish water or inland water (TDS 3000ppm - ...,RENA GmbH,...,RO (Reverse Osmosis),NaN,1600.00,3.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
11,1971.0,"4,542",1.20,5280.543741,Algeria,Industry (TDS <10ppm),"Ionics, Inc.",4090000.0,Brackish water or inland water (TDS 3000ppm - ...,GdF Suez,...,ED (Electrodialysis),NaN,4542.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
12,1978.0,"4,440",1.17,2961.357473,Algeria,Industry (TDS <10ppm),Deutsche Babcock,4420000.0,Brackish water or inland water (TDS 3000ppm - ...,Bilfinger Berger,...,RO (Reverse Osmosis),NaN,1480.00,3.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
13,1978.0,"4,440",1.17,532.3008959,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Hager + Elsasser GmbH,700000.0,Brackish water or inland water (TDS 3000ppm - ...,RENA GmbH,...,RO (Reverse Osmosis),NaN,1480.00,3.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
14,1978.0,"3,264",0.86,7728.536075,Algeria,Industry (TDS <10ppm),Sasakura Engineering Co Ltd,8480000.0,Seawater (TDS 20000ppm - 50000ppm),Sasakura Engineering Co Ltd,...,MSF (Multi-stage Flash),Flash,1088.00,3.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
15,1993.0,"3,000",0.79,4311.377417,Algeria,Industry (TDS <10ppm),Aquatech International Corporation,7820000.0,Seawater (TDS 20000ppm - 50000ppm),Aquatech International Corporation,...,MSF (Multi-stage Flash),Flash,1000.00,3.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
16,1982.0,"3,000",0.79,1148.487282,Algeria,Industry (TDS <10ppm),Christ Water Technology Group,1400000.0,Brackish water or inland water (TDS 3000ppm - ...,GLV,...,RO (Reverse Osmosis),NaN,3000.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
17,1981.0,"2,880",0.76,6517.835347,Algeria,Industry (TDS <10ppm),Veolia Sidem (Societe Internationale De Dessal...,7390000.0,Seawater (TDS 20000ppm - 50000ppm),Veolia,...,MED (Multi-effect Distillation),NaN,1440.00,2.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
18,2002.0,"2,500",0.66,1332.463579,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Linde-KCA-Dresden GmbH / Strabag,2500000.0,Seawater (TDS 20000ppm - 50000ppm),Consortium,...,RO (Reverse Osmosis),NaN,2500.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
19,2002.0,"2,500",0.66,1332.463579,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Linde-KCA-Dresden GmbH / Strabag,2500000.0,Seawater (TDS 20000ppm - 50000ppm),Consortium,...,RO (Reverse Osmosis),NaN,2500.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
20,2002.0,"2,500",0.66,1385.762122,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Linde-KCA-Dresden GmbH,2600000.0,Seawater (TDS 20000ppm - 50000ppm),Linde Group,...,RO (Reverse Osmosis),NaN,2500.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
21,2003.0,"2,500",0.66,1297.617787,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Linde-KCA-Dresden GmbH,2500000.0,Seawater (TDS 20000ppm - 50000ppm),Linde Group,...,RO (Reverse Osmosis),NaN,2500.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
22,2002.0,"2,500",0.66,1332.463579,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Linde-KCA-Dresden GmbH,2500000.0,Seawater (TDS 20000ppm - 50000ppm),Linde Group,...,RO (Reverse Osmosis),NaN,2500.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
23,2002.0,"2,500",0.66,1332.463579,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Linde-KCA-Dresden GmbH,2500000.0,Seawater (TDS 20000ppm - 50000ppm),Linde Group,...,RO (Reverse Osmosis),NaN,2500.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
24,2002.0,"2,500",0.66,1332.463579,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Linde-KCA-Dresden GmbH / Strabag,2500000.0,Seawater (TDS 20000ppm - 50000ppm),Consortium,...,RO (Reverse Osmosis),NaN,2500.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
25,2002.0,"2,500",0.66,3299.179822,Algeria,Municipalities as drinking water (TDS 10ppm - ...,"Grupo SETA, S.L.",6190000.0,Seawater (TDS 20000ppm - 50000ppm),"Grupo SETA, S.L.",...,RO (Reverse Osmosis),NaN,2500.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
26,1987.0,"2,500",0.66,5874.972904,Algeria,Industry (TDS <10ppm),Veolia Sidem (Societe Internationale De Dessal...,7430000.0,Seawater (TDS 20000ppm - 50000ppm),Veolia,...,MED (Multi-effect Distillation),TVC (Thermal Vapor Compression),1250.00,2.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
27,1992.0,"2,407",0.64,1367.437641,Algeria,Industry (TDS <10ppm),"Ionics, Inc.",1990000.0,Brackish water or inland water (TDS 3000ppm - ...,GdF Suez,...,ED (Electrodialysis),NaN,267.44,9.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
28,2002.0,"2,400",0.63,3525.950634,Algeria,Municipalities as drinking water (TDS 10ppm - ...,SNTE FR,6210000.0,Seawater (TDS 20000ppm - 50000ppm),SNTE FR,...,RO (Reverse Osmosis),NaN,1200.00,2.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
29,2002.0,"2,400",0.63,3525.950634,Algeria,Municipalities as drinking water (TDS 10ppm - ...,SNTE FR,6210000.0,Seawater (TDS 20000ppm - 50000ppm),SNTE FR,...,RO (Reverse Osmosis),NaN,1200.00,2.0,NaN,NaN,0.0,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8718,1998.0,350,0.09,1546.769501,Yemen,Municipalities as drinking water (TDS 10ppm - ...,"Veolia Water Solutions & Technologies, Saudi-I...",360000.0,Brackish water or inland water (TDS 3000ppm - ...,Veolia,...,RO (Reverse Osmosis),NaN,350.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8719,1992.0,327,0.09,1763.770462,Yemen,Municipalities as drinking water (TDS 10ppm - ...,NaN,340000.0,Brackish water or inland water (TDS 3000ppm - ...,NaN,...,RO (Reverse Osmosis),NaN,327.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8720,2005.0,300,0.08,790.3174603,Yemen,Industry (TDS <10ppm),Metito,195000.0,Brine or concentrated seawater (TDS >50000ppm),Metito,...,RO (Reverse Osmosis),NaN,300.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8721,1984.0,300,0.08,6291.177413,Yemen,Municipalities as drinking water (TDS 10ppm - ...,Promac BV,800000.0,Seawater (TDS 20000ppm - 50000ppm),Promac BV,...,RO (Reverse Osmosis),NaN,300.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8722,1984.0,300,0.08,6291.177413,Yemen,Municipalities as drinking water (TDS 10ppm - ...,Promac BV,800000.0,Seawater (TDS 20000ppm - 50000ppm),Promac BV,...,RO (Reverse Osmosis),NaN,300.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8723,2002.0,250,0.07,1417.193685,Yemen,Power stations (TDS <10ppm),"Veolia Water Solutions & Technologies, Saudi-I...",260000.0,Brackish water or inland water (TDS 3000ppm - ...,Veolia,...,RO (Reverse Osmosis),NaN,250.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8724,2003.0,250,0.07,1349.522499,Yemen,Power stations (TDS <10ppm),"Veolia Water Solutions & Technologies, Saudi-I...",260000.0,Brackish water or inland water (TDS 3000ppm - ...,Veolia,...,RO (Reverse Osmosis),NaN,250.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8725,1978.0,208,0.05,3571.095571,Yemen,Industry (TDS <10ppm),Degremont,220000.0,Brackish water or inland water (TDS 3000ppm - ...,GdF Suez,...,RO (Reverse Osmosis),NaN,208.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8726,1978.0,208,0.05,3571.095571,Yemen,Industry (TDS <10ppm),Degremont,220000.0,Brackish water or inland water (TDS 3000ppm - ...,GdF Suez,...,RO (Reverse Osmosis),NaN,208.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8727,1990.0,192,0.05,1953.58327,Yemen,Industry (TDS <10ppm),NaN,200000.0,Brackish water or inland water (TDS 3000ppm - ...,NaN,...,RO (Reverse Osmosis),NaN,192.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8728,1990.0,192,0.05,1953.58327,Yemen,Industry (TDS <10ppm),NaN,200000.0,Brackish water or inland water (TDS 3000ppm - ...,NaN,...,RO (Reverse Osmosis),NaN,192.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8729,1984.0,180,0.05,2490.257727,Yemen,Industry (TDS <10ppm),NaN,190000.0,Brackish water or inland water (TDS 3000ppm - ...,NaN,...,RO (Reverse Osmosis),NaN,180.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8730,1984.0,180,0.05,2490.257727,Yemen,Industry (TDS <10ppm),NaN,190000.0,Brackish water or inland water (TDS 3000ppm - ...,NaN,...,RO (Reverse Osmosis),NaN,180.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8731,1995.0,180,0.05,4166.050563,Yemen,Municipalities as drinking water (TDS 10ppm - ...,GAWA,480000.0,Seawater (TDS 20000ppm - 50000ppm),GAWA,...,RO (Reverse Osmosis),NaN,180.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8732,1998.0,150,0.04,1569.395758,Yemen,Industry (TDS <10ppm),"Veolia Water Solutions & Technologies, Saudi-I...",160000.0,Brackish water or inland water (TDS 3000ppm - ...,Veolia,...,RO (Reverse Osmosis),NaN,150.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8733,1981.0,130,0.03,2904.019633,Yemen,Industry (TDS <10ppm),NaN,140000.0,Brackish water or inland water (TDS 3000ppm - ...,NaN,...,RO (Reverse Osmosis),NaN,130.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8734,1981.0,130,0.03,2904.019633,Yemen,Industry (TDS <10ppm),NaN,140000.0,Brackish water or inland water (TDS 3000ppm - ...,NaN,...,RO (Reverse Osmosis),NaN,130.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8735,1974.0,125,0.03,12392.68402,Yemen,Industry (TDS <10ppm),Veolia Sidem (Societe Internationale De Dessal...,340000.0,Seawater (TDS 20000ppm - 50000ppm),Veolia,...,MED (Multi-effect Distillation),NaN,125.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8736,1978.0,120,0.03,9003.489442,Yemen,Municipalities as drinking water (TDS 10ppm - ...,Hamworthy Serck Como GmbH,320000.0,Seawater (TDS 20000ppm - 50000ppm),Wartsila,...,MED (Multi-effect Distillation),NaN,120.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8737,1978.0,120,0.03,9003.489442,Yemen,Municipalities as drinking water (TDS 10ppm - ...,Hamworthy Serck Como GmbH,320000.0,Seawater (TDS 20000ppm - 50000ppm),Wartsila,...,MED (Multi-effect Distillation),NaN,120.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8738,1984.0,114,0.03,1998.304311,Yemen,Municipalities as drinking water (TDS 10ppm - ...,Al Kawther Industries,100000.0,Brackish water or inland water (TDS 3000ppm - ...,Al Murjan Group,...,RO (Reverse Osmosis),NaN,114.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8739,1984.0,114,0.03,1998.304311,Yemen,Municipalities as drinking water (TDS 10ppm - ...,Al Kawther Industries,100000.0,Brackish water or inland water (TDS 3000ppm - ...,Al Murjan Group,...,RO (Reverse Osmosis),NaN,114.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8740,1984.0,114,0.03,1998.304311,Yemen,Municipalities as drinking water (TDS 10ppm - ...,Al Kawther Industries,100000.0,Brackish water or inland water (TDS 3000ppm - ...,Al Murjan Group,...,RO (Reverse Osmosis),NaN,114.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8741,1984.0,114,0.03,1998.304311,Yemen,Municipalities as drinking water (TDS 10ppm - ...,Al Kawther Industries,100000.0,Brackish water or inland water (TDS 3000ppm - ...,Al Murjan Group,...,RO (Reverse Osmosis),NaN,114.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8742,1979.0,100,0.03,2974.757282,Yemen,Industry (TDS <10ppm),Hubert Stavoren B.V.,100000.0,Brackish water or inland water (TDS 3000ppm - ...,Hubert Stavoren B.V.,...,RO (Reverse Osmosis),NaN,100.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8743,1979.0,100,0.03,2974.757282,Yemen,Industry (TDS <10ppm),Hubert Stavoren B.V.,100000.0,Brackish water or inland water (TDS 3000ppm - ...,Hubert Stavoren B.V.,...,RO (Reverse Osmosis),NaN,100.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8744,1983.0,100,0.03,2461.044177,Yemen,Industry (TDS <10ppm),NaN,100000.0,Brackish water or inland water (TDS 3000ppm - ...,NaN,...,RO (Reverse Osmosis),NaN,100.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8745,1983.0,100,0.03,2461.044177,Yemen,Industry (TDS <10ppm),NaN,100000.0,Brackish water or inland water (TDS 3000ppm - ...,NaN,...,RO (Reverse Osmosis),NaN,100.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8746,1986.0,100,0.03,2236.49635,Yemen,Industry (TDS <10ppm),NaN,100000.0,Brackish water or inland water (TDS 3000ppm - ...,NaN,...,RO (Reverse Osmosis),NaN,100.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961
8747,1986.0,100,0.03,2236.49635,Yemen,Industry (TDS <10ppm),NaN,100000.0,Brackish water or inland water (TDS 3000ppm - ...,NaN,...,RO (Reverse Osmosis),NaN,100.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961

In [79]:
df_base_water_stress = pd.merge(df_base, df1, on= "Country")

In [80]:
df_base_water_stress

,Award date,Capacity (m3/d),Capacity (MGD),Capital Cost per Unit of Daily Capacity ($/m3/d),Country,Customer type,EPC contractor (desal),EPC price,Feedwater,Holding Company,...,Thermal design,Unit size (m3/d),Units,Winner,Water price (USD/m3),Water Year,Water Cost,Water Inflation Multiple,Inflation Adjusted Water Cost,Water Stress
0,2002.0,"14,000",3.70,323.5982978,Algeria,Industry (TDS <10ppm),Linde-KCA-Dresden GmbH,3400000.0,River water or low concentrated saline water (...,Linde Group,...,NaN,4666.67,3.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427
1,2002.0,"14,000",3.70,1111.655329,Algeria,Municipalities as drinking water (TDS 10ppm - ...,SNC-Lavalin / Strabag,11680000.0,Brackish water or inland water (TDS 3000ppm - ...,Consortium,...,NaN,7000.00,2.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427
2,2002.0,"10,000",2.64,3296.514895,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Passavant-Roediger GmbH,24740000.0,Seawater (TDS 20000ppm - 50000ppm),Drake & Scull International PJSC,...,NaN,2500.00,4.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427
3,1992.0,"5,760",1.52,4352.741253,Algeria,Industry (TDS <10ppm),Veolia Sidem (Societe Internationale De Dessal...,14780000.0,Seawater (TDS 20000ppm - 50000ppm),Veolia,...,TVC (Thermal Vapor Compression),1440.00,4.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427
4,1993.0,"5,678",1.50,4287.88339,Algeria,Industry (TDS <10ppm),"Aqua-Chem, Inc.",14720000.0,Seawater (TDS 20000ppm - 50000ppm),Altus Capital Partners,...,Flash,1135.60,5.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427
5,1988.0,"5,000",1.32,4276.00306,Algeria,Industry (TDS <10ppm),Veolia Sidem (Societe Internationale De Dessal...,11400000.0,Seawater (TDS 20000ppm - 50000ppm),Veolia,...,NaN,2500.00,2.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427
6,2001.0,"5,000",1.32,3296.514894,Algeria,Municipalities as drinking water (TDS 10ppm - ...,"Grupo SETA, S.L.",12370000.0,Seawater (TDS 20000ppm - 50000ppm),"Grupo SETA, S.L.",...,NaN,2500.00,2.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427
7,2002.0,"5,000",1.32,1332.463579,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Linde-KCA-Dresden GmbH / Strabag,5000000.0,Seawater (TDS 20000ppm - 50000ppm),Consortium,...,NaN,5000.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427
8,2001.0,"5,000",1.32,3296.514894,Algeria,Municipalities as drinking water (TDS 10ppm - ...,"Grupo SETA, S.L.",12370000.0,Seawater (TDS 20000ppm - 50000ppm),"Grupo SETA, S.L.",...,NaN,2500.00,2.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427
9,1978.0,"4,800",1.27,2440.535475,Algeria,Industry (TDS <10ppm),Deutsche Babcock,4760000.0,Brackish water or inland water (TDS 3000ppm - ...,Bilfinger Berger,...,NaN,1600.00,3.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427
10,1978.0,"4,800",1.27,492.3783288,Algeria,Industry (TDS <10ppm),Hager + Elsasser GmbH,700000.0,Brackish water or inland water (TDS 3000ppm - ...,RENA GmbH,...,NaN,1600.00,3.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427
11,1971.0,"4,542",1.20,5280.543741,Algeria,Industry (TDS <10ppm),"Ionics, Inc.",4090000.0,Brackish water or inland water (TDS 3000ppm - ...,GdF Suez,...,NaN,4542.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427
12,1978.0,"4,440",1.17,2961.357473,Algeria,Industry (TDS <10ppm),Deutsche Babcock,4420000.0,Brackish water or inland water (TDS 3000ppm - ...,Bilfinger Berger,...,NaN,1480.00,3.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427
13,1978.0,"4,440",1.17,532.3008959,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Hager + Elsasser GmbH,700000.0,Brackish water or inland water (TDS 3000ppm - ...,RENA GmbH,...,NaN,1480.00,3.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427
14,1978.0,"3,264",0.86,7728.536075,Algeria,Industry (TDS <10ppm),Sasakura Engineering Co Ltd,8480000.0,Seawater (TDS 20000ppm - 50000ppm),Sasakura Engineering Co Ltd,...,Flash,1088.00,3.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427
15,1993.0,"3,000",0.79,4311.377417,Algeria,Industry (TDS <10ppm),Aquatech International Corporation,7820000.0,Seawater (TDS 20000ppm - 50000ppm),Aquatech International Corporation,...,Flash,1000.00,3.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427
16,1982.0,"3,000",0.79,1148.487282,Algeria,Industry (TDS <10ppm),Christ Water Technology Group,1400000.0,Brackish water or inland water (TDS 3000ppm - ...,GLV,...,NaN,3000.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427
17,1981.0,"2,880",0.76,6517.835347,Algeria,Industry (TDS <10ppm),Veolia Sidem (Societe Internationale De Dessal...,7390000.0,Seawater (TDS 20000ppm - 50000ppm),Veolia,...,NaN,1440.00,2.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427
18,2002.0,"2,500",0.66,1332.463579,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Linde-KCA-Dresden GmbH / Strabag,2500000.0,Seawater (TDS 20000ppm - 50000ppm),Consortium,...,NaN,2500.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427
19,2002.0,"2,500",0.66,1332.463579,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Linde-KCA-Dresden GmbH / Strabag,2500000.0,Seawater (TDS 20000ppm - 50000ppm),Consortium,...,NaN,2500.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427
20,2002.0,"2,500",0.66,1385.762122,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Linde-KCA-Dresden GmbH,2600000.0,Seawater (TDS 20000ppm - 50000ppm),Linde Group,...,NaN,2500.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427
21,2003.0,"2,500",0.66,1297.617787,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Linde-KCA-Dresden GmbH,2500000.0,Seawater (TDS 20000ppm - 50000ppm),Linde Group,...,NaN,2500.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427
22,2002.0,"2,500",0.66,1332.463579,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Linde-KCA-Dresden GmbH,2500000.0,Seawater (TDS 20000ppm - 50000ppm),Linde Group,...,NaN,2500.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427
23,2002.0,"2,500",0.66,1332.463579,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Linde-KCA-Dresden GmbH,2500000.0,Seawater (TDS 20000ppm - 50000ppm),Linde Group,...,NaN,2500.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427
24,2002.0,"2,500",0.66,1332.463579,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Linde-KCA-Dresden GmbH / Strabag,2500000.0,Seawater (TDS 20000ppm - 50000ppm),Consortium,...,NaN,2500.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427
25,2002.0,"2,500",0.66,3299.179822,Algeria,Municipalities as drinking water (TDS 10ppm - ...,"Grupo SETA, S.L.",6190000.0,Seawater (TDS 20000ppm - 50000ppm),"Grupo SETA, S.L.",...,NaN,2500.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427
26,1987.0,"2,500",0.66,5874.972904,Algeria,Industry (TDS <10ppm),Veolia Sidem (Societe Internationale De Dessal...,7430000.0,Seawater (TDS 20000ppm - 50000ppm),Veolia,...,TVC (Thermal Vapor Compression),1250.00,2.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427
27,1992.0,"2,407",0.64,1367.437641,Algeria,Industry (TDS <10ppm),"Ionics, Inc.",1990000.0,Brackish water or inland water (TDS 3000ppm - ...,GdF Suez,...,NaN,267.44,9.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427
28,2002.0,"2,400",0.63,3525.950634,Algeria,Municipalities as drinking water (TDS 10ppm - ...,SNTE FR,6210000.0,Seawater (TDS 20000ppm - 50000ppm),SNTE FR,...,NaN,1200.00,2.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427
29,2002.0,"2,400",0.63,3525.950634,Algeria,Municipalities as drinking water (TDS 10ppm - ...,SNTE FR,6210000.0,Seawater (TDS 20000ppm - 50000ppm),SNTE FR,...,NaN,1200.00,2.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,1998.0,350,0.09,1546.769501,Yemen,Municipalities as drinking water (TDS 10ppm - ...,"Veolia Water Solutions & Technologies, Saudi-I...",360000.0,Brackish water or inland water (TDS 3000ppm - ...,Veolia,...,NaN,350.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961,4.67405
6429,1992.0,327,0.09,1763.770462,Yemen,Municipalities as drinking water (TDS 10ppm - ...,NaN,340000.0,Brackish water or inland water (TDS 3000ppm - ...,NaN,...,NaN,327.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961,4.67405
6430,2005.0,300,0.08,790.3174603,Yemen,Industry (TDS <10ppm),Metito,195000.0,Brine or concentrated seawater (TDS >50000ppm),Metito,...,NaN,300.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961,4.67405
6431,1984.0,300,0.08,6291.177413,Yemen,Municipalities as drinking water (TDS 10ppm - ...,Promac BV,800000.0,Seawater (TDS 20000ppm - 50000ppm),Promac BV,...,NaN,300.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961,4.67405
6432,1984.0,300,0.08,6291.177413,Yemen,Municipalities as drinking water (TDS 10ppm - ...,Promac BV,800000.0,Seawater (TDS 20000ppm - 50000ppm),Promac BV,...,NaN,300.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961,4.67405
6433,2002.0,250,0.07,1417.193685,Yemen,Power stations (TDS <10ppm),"Veolia Water Solutions & Technologies, Saudi-I...",260000.0,Brackish water or inland water (TDS 3000ppm - ...,Veolia,...,NaN,250.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961,4.67405
6434,2003.0,250,0.07,1349.522499,Yemen,Power stations (TDS <10ppm),"Veolia Water Solutions & Technologies, Saudi-I...",260000.0,Brackish water or inland water (TDS 3000ppm - ...,Veolia,...,NaN,250.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961,4.67405
6435,1978.0,208,0.05,3571.095571,Yemen,Industry (TDS <10ppm),Degremont,220000.0,Brackish water or inland water (TDS 3000ppm - ...,GdF Suez,...,NaN,208.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961,4.67405
6436,1978.0,208,0.05,3571.095571,Yemen,Industry (TDS <10ppm),Degremont,220000.0,Brackish water or inland water (TDS 3000ppm - ...,GdF Suez,...,NaN,208.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961,4.67405
6437,1990.0,192,0.05,1953.58327,Yemen,Industry (TDS <10ppm),NaN,200000.0,Brackish water or inland water (TDS 3000ppm - ...,NaN,...,NaN,192.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961,4.67405
6438,1990.0,192,0.05,1953.58327,Yemen,Industry (TDS <10ppm),NaN,200000.0,Brackish water or inland water (TDS 3000ppm - ...,NaN,...,NaN,192.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961,4.67405
6439,1984.0,180,0.05,2490.257727,Yemen,Industry (TDS <10ppm),NaN,190000.0,Brackish water or inland water (TDS 3000ppm - ...,NaN,...,NaN,180.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961,4.67405
6440,1984.0,180,0.05,2490.257727,Yemen,Industry (TDS <10ppm),NaN,190000.0,Brackish water or inland water (TDS 3000ppm - ...,NaN,...,NaN,180.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961,4.67405
6441,1995.0,180,0.05,4166.050563,Yemen,Municipalities as drinking water (TDS 10ppm - ...,GAWA,480000.0,Seawater (TDS 20000ppm - 50000ppm),GAWA,...,NaN,180.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961,4.67405
6442,1998.0,150,0.04,1569.395758,Yemen,Industry (TDS <10ppm),"Veolia Water Solutions & Technologies, Saudi-I...",160000.0,Brackish water or inland water (TDS 3000ppm - ...,Veolia,...,NaN,150.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961,4.67405
6443,1981.0,130,0.03,2904.019633,Yemen,Industry (TDS <10ppm),NaN,140000.0,Brackish water or inland water (TDS 3000ppm - ...,NaN,...,NaN,130.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961,4.67405
6444,1981.0,130,0.03,2904.019633,Yemen,Industry (TDS <10ppm),NaN,140000.0,Brackish water or inland water (TDS 3000ppm - ...,NaN,...,NaN,130.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961,4.67405
6445,1974.0,125,0.03,12392.68402,Yemen,Industry (TDS <10ppm),Veolia Sidem (Societe Internationale De Dessal...,340000.0,Seawater (TDS 20000ppm - 50000ppm),Veolia,...,NaN,125.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961,4.67405
6446,1978.0,120,0.03,9003.489442,Yemen,Municipalities as drinking water (TDS 10ppm - ...,Hamworthy Serck Como GmbH,320000.0,Seawater (TDS 20000ppm - 50000ppm),Wartsila,...,NaN,120.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961,4.67405
6447,1978.0,120,0.03,9003.489442,Yemen,Municipalities as drinking water (TDS 10ppm - ...,Hamworthy Serck Como GmbH,320000.0,Seawater (TDS 20000ppm - 50000ppm),Wartsila,...,NaN,120.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961,4.67405
6448,1984.0,114,0.03,1998.304311,Yemen,Municipalities as drinking water (TDS 10ppm - ...,Al Kawther Industries,100000.0,Brackish water or inland water (TDS 3000ppm - ...,Al Murjan Group,...,NaN,114.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961,4.67405
6449,1984.0,114,0.03,1998.304311,Yemen,Municipalities as drinking water (TDS 10ppm - ...,Al Kawther Industries,100000.0,Brackish water or inland water (TDS 3000ppm - ...,Al Murjan Group,...,NaN,114.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961,4.67405
6450,1984.0,114,0.03,1998.304311,Yemen,Municipalities as drinking water (TDS 10ppm - ...,Al Kawther Industries,100000.0,Brackish water or inland water (TDS 3000ppm - ...,Al Murjan Group,...,NaN,114.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961,4.67405
6451,1984.0,114,0.03,1998.304311,Yemen,Municipalities as drinking water (TDS 10ppm - ...,Al Kawther Industries,100000.0,Brackish water or inland water (TDS 3000ppm - ...,Al Murjan Group,...,NaN,114.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961,4.67405
6452,1979.0,100,0.03,2974.757282,Yemen,Industry (TDS <10ppm),Hubert Stavoren B.V.,100000.0,Brackish water or inland water (TDS 3000ppm - ...,Hubert Stavoren B.V.,...,NaN,100.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961,4.67405
6453,1979.0,100,0.03,2974.757282,Yemen,Industry (TDS <10ppm),Hubert Stavoren B.V.,100000.0,Brackish water or inland water (TDS 3000ppm - ...,Hubert Stavoren B.V.,...,NaN,100.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961,4.67405
6454,1983.0,100,0.03,2461.044177,Yemen,Industry (TDS <10ppm),NaN,100000.0,Brackish water or inland water (TDS 3000ppm - ...,NaN,...,NaN,100.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961,4.67405
6455,1983.0,100,0.03,2461.044177,Yemen,Industry (TDS <10ppm),NaN,100000.0,Brackish water or inland water (TDS 3000ppm - ...,NaN,...,NaN,100.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961,4.67405
6456,1986.0,100,0.03,2236.49635,Yemen,Industry (TDS <10ppm),NaN,100000.0,Brackish water or inland water (TDS 3000ppm - ...,NaN,...,NaN,100.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961,4.67405
6457,1986.0,100,0.03,2236.49635,Yemen,Industry (TDS <10ppm),NaN,100000.0,Brackish water or inland water (TDS 3000ppm - ...,NaN,...,NaN,100.00,1.0,NaN,NaN,2010.0,0.680544,1.124115,2259.470961,4.67405

In [81]:
df_base_water_stress.to_csv(r'C:\Users\Michael\Dropbox\PhD\CU\0 - Courses\1- Fall 2018\Group Project - Solar Desal\Datasets\Desal_Water Stress.csv')

In [84]:
df_base_water_stress["Water Stress"].describe()

count     6458.000000
unique      92.000000
top          4.992351
freq      1233.000000
Name: Water Stress, dtype: float64

In [105]:
df_base_water_stress["Water Stress"].isna()

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
6428    False
6429    False
6430    False
6431    False
6432    False
6433    False
6434    False
6435    False
6436    False
6437    False
6438    False
6439    False
6440    False
6441    False
6442    False
6443    False
6444    False
6445    False
6446    False
6447    False
6448    False
6449    False
6450    False
6451    False
6452    False
6453    False
6454    False
6455    False
6456    False
6457    False
Name: Water Stress, Length: 6458, dtype: bool

In [103]:
df_NGP = pd.merge(df_base_water_stress, df3, on= "Award date")

In [104]:
df_NGP

,Award date,Capacity (m3/d),Capacity (MGD),Capital Cost per Unit of Daily Capacity ($/m3/d),Country,Customer type,EPC contractor (desal),EPC price,Feedwater,Holding Company,...,Unit size (m3/d),Units,Winner,Water price (USD/m3),Water Year,Water Cost,Water Inflation Multiple,Inflation Adjusted Water Cost,Water Stress,Inflation Adjusted Wellhead Natural Gas Price
0,2002.0,"14,000",3.70,323.5982978,Algeria,Industry (TDS <10ppm),Linde-KCA-Dresden GmbH,3400000.0,River water or low concentrated saline water (...,Linde Group,...,4666.67,3.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427,4.019924
1,2002.0,"14,000",3.70,1111.655329,Algeria,Municipalities as drinking water (TDS 10ppm - ...,SNC-Lavalin / Strabag,11680000.0,Brackish water or inland water (TDS 3000ppm - ...,Consortium,...,7000.00,2.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427,4.019924
2,2002.0,"10,000",2.64,3296.514895,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Passavant-Roediger GmbH,24740000.0,Seawater (TDS 20000ppm - 50000ppm),Drake & Scull International PJSC,...,2500.00,4.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427,4.019924
3,2002.0,"5,000",1.32,1332.463579,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Linde-KCA-Dresden GmbH / Strabag,5000000.0,Seawater (TDS 20000ppm - 50000ppm),Consortium,...,5000.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427,4.019924
4,2002.0,"2,500",0.66,1332.463579,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Linde-KCA-Dresden GmbH / Strabag,2500000.0,Seawater (TDS 20000ppm - 50000ppm),Consortium,...,2500.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427,4.019924
5,2002.0,"2,500",0.66,1332.463579,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Linde-KCA-Dresden GmbH / Strabag,2500000.0,Seawater (TDS 20000ppm - 50000ppm),Consortium,...,2500.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427,4.019924
6,2002.0,"2,500",0.66,1385.762122,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Linde-KCA-Dresden GmbH,2600000.0,Seawater (TDS 20000ppm - 50000ppm),Linde Group,...,2500.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427,4.019924
7,2002.0,"2,500",0.66,1332.463579,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Linde-KCA-Dresden GmbH,2500000.0,Seawater (TDS 20000ppm - 50000ppm),Linde Group,...,2500.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427,4.019924
8,2002.0,"2,500",0.66,1332.463579,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Linde-KCA-Dresden GmbH,2500000.0,Seawater (TDS 20000ppm - 50000ppm),Linde Group,...,2500.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427,4.019924
9,2002.0,"2,500",0.66,1332.463579,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Linde-KCA-Dresden GmbH / Strabag,2500000.0,Seawater (TDS 20000ppm - 50000ppm),Consortium,...,2500.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427,4.019924
10,2002.0,"2,500",0.66,3299.179822,Algeria,Municipalities as drinking water (TDS 10ppm - ...,"Grupo SETA, S.L.",6190000.0,Seawater (TDS 20000ppm - 50000ppm),"Grupo SETA, S.L.",...,2500.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427,4.019924
11,2002.0,"2,400",0.63,3525.950634,Algeria,Municipalities as drinking water (TDS 10ppm - ...,SNTE FR,6210000.0,Seawater (TDS 20000ppm - 50000ppm),SNTE FR,...,1200.00,2.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427,4.019924
12,2002.0,"2,400",0.63,3525.950634,Algeria,Municipalities as drinking water (TDS 10ppm - ...,SNTE FR,6210000.0,Seawater (TDS 20000ppm - 50000ppm),SNTE FR,...,1200.00,2.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427,4.019924
13,2002.0,"1,300",0.34,1332.463579,Algeria,Tourist facilities as drinking water (TDS 10pp...,"Ionics, Inc.",1300000.0,Brackish water or inland water (TDS 3000ppm - ...,GdF Suez,...,1300.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427,4.019924
14,2002.0,"1,200",0.32,3520.272774,Algeria,Municipalities as drinking water (TDS 10ppm - ...,SNTE FR,3100000.0,Seawater (TDS 20000ppm - 50000ppm),SNTE FR,...,1200.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427,4.019924
15,2002.0,"1,200",0.32,3520.272774,Algeria,Municipalities as drinking water (TDS 10ppm - ...,NaN,3100000.0,Seawater (TDS 20000ppm - 50000ppm),NaN,...,1200.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427,4.019924
16,2002.0,379,0.10,3631.432976,Antigua and Barbuda,Tourist facilities as drinking water (TDS 10pp...,"Ionics, Inc.",1010000.0,Seawater (TDS 20000ppm - 50000ppm),GdF Suez,...,379.00,1.0,NaN,NaN,NaN,NaN,0.000000,NaN,5,4.019924
17,2002.0,"1,090",0.29,1000.136686,Australia,Industry (TDS <10ppm),"Ionics, Inc.",800000.0,Pure water or tap water (TDS <500ppm),GdF Suez,...,545.00,2.0,NaN,NaN,2013.0,3.197658,1.052211,2118.101452,3.51149,4.019924
18,2002.0,"16,000",4.23,1149.196109,Canada,Industry (TDS <10ppm),GE Ionics,14650000.0,Brackish water or inland water (TDS 3000ppm - ...,GdF Suez,...,16000.00,1.0,NaN,NaN,NaN,NaN,0.000000,NaN,1.20577,4.019924
19,2002.0,600,0.16,3531.028485,Chile,Power stations (TDS <10ppm),IDE Technologies Ltd.,1590000.0,Seawater (TDS 20000ppm - 50000ppm),IDE Technologies Ltd.,...,600.00,1.0,NaN,NaN,2008.0,0.558165,1.138489,2286.085006,3.20537,4.019924
20,2002.0,"5,500",1.45,1332.463579,China,Industry (TDS <10ppm),CNC Water Technology,5500000.0,Seawater (TDS 20000ppm - 50000ppm),"Evoqua Water Technologies, LLC",...,2750.00,2.0,NaN,NaN,2012.0,0.425293,1.067624,2148.058921,2.94477,4.019924
21,2002.0,"3,672",0.97,994.5531348,China,Industry (TDS <10ppm),Nomura Micro Science,2680000.0,Pure water or tap water (TDS <500ppm),Nomura Micro Science,...,734.40,5.0,NaN,NaN,2012.0,0.425293,1.067624,2148.058921,2.94477,4.019924
22,2002.0,"3,672",0.97,994.5531348,China,Industry (TDS <10ppm),Nomura Micro Science,2680000.0,Pure water or tap water (TDS <500ppm),Nomura Micro Science,...,734.40,5.0,NaN,NaN,2012.0,0.425293,1.067624,2148.058921,2.94477,4.019924
23,2002.0,"3,600",0.95,973.4386703,China,Industry (TDS <10ppm),Nomura Micro Science,2630000.0,Pure water or tap water (TDS <500ppm),Nomura Micro Science,...,720.00,5.0,NaN,NaN,2012.0,0.425293,1.067624,2148.058921,2.94477,4.019924
24,2002.0,"3,600",0.95,973.4386703,China,Industry (TDS <10ppm),Nomura Micro Science,2630000.0,Pure water or tap water (TDS <500ppm),Nomura Micro Science,...,720.00,5.0,NaN,NaN,2012.0,0.425293,1.067624,2148.058921,2.94477,4.019924
25,2002.0,"3,600",0.95,884.607765,China,Industry (TDS <10ppm),Nomura Micro Science,2390000.0,Pure water or tap water (TDS <500ppm),Nomura Micro Science,...,3600.00,1.0,NaN,NaN,2012.0,0.425293,1.067624,2148.058921,2.94477,4.019924
26,2002.0,"1,000",0.26,3477.729941,China,Demonstration,Institute of Seawater Desalination and Multipu...,2610000.0,Seawater (TDS 20000ppm - 50000ppm),State Oceanic Administration,...,1000.00,1.0,NaN,NaN,2012.0,0.425293,1.067624,2148.058921,2.94477,4.019924
27,2002.0,700,0.18,3502.475693,China,Power stations (TDS <10ppm),Alfa Laval,1840000.0,Seawater (TDS 20000ppm - 50000ppm),Alfa Laval,...,700.00,1.0,NaN,NaN,2012.0,0.425293,1.067624,2148.058921,2.94477,4.019924
28,2002.0,500,0.13,1757.132616,China,Municipalities as drinking water (TDS 10ppm - ...,NaN,700000.0,Brackish water or inland water (TDS 3000ppm - ...,NaN,...,500.00,1.0,NaN,NaN,2012.0,0.425293,1.067624,2148.058921,2.94477,4.019924
29,2002.0,"4,000",1.06,3812.114743,Egypt,Municipalities as drinking water (TDS 10ppm - ...,NaN,11190000.0,Seawater (TDS 20000ppm - 50000ppm),NaN,...,4000.00,1.0,NaN,NaN,2015.0,0.212466,1.034187,2083.887653,1.32799,4.019924
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6427,1956.0,132,0.03,9251.806318,Mexico,Power stations (TDS <10ppm),Envirogenics,140000.0,Brackish water or inland water (TDS 3000ppm - ...,Envirogenics,...,132.00,1.0,NaN,NaN,2012.0,0.674681,1.067624,2148.058921,3.51605,0.991294
6428,1954.0,348,0.09,7621.890546,Germany,Power stations (TDS <10ppm),Krupp Uhde,290000.0,River water or low concentrated saline water (...,Thyssen Krupp,...,174.00,2.0,NaN,NaN,NaN,NaN,0.000000,NaN,1.89527,0.911227
6429,1954.0,341,0.09,7510.132622,Germany,Industry (TDS <10ppm),Krupp Uhde,280000.0,River water or low concentrated saline water (...,Thyssen Krupp,...,341.00,1.0,NaN,NaN,NaN,NaN,0.000000,NaN,1.89527,0.911227
6430,1954.0,288,0.08,7621.890549,Germany,Industry (TDS <10ppm),Krupp Uhde,240000.0,River water or low concentrated saline water (...,Thyssen Krupp,...,288.00,1.0,NaN,NaN,NaN,NaN,0.000000,NaN,1.89527,0.911227
6431,1954.0,148,0.04,7415.893507,Germany,Power stations (TDS <10ppm),Krupp Uhde,120000.0,River water or low concentrated saline water (...,Thyssen Krupp,...,148.00,1.0,NaN,NaN,NaN,NaN,0.000000,NaN,1.89527,0.911227
6432,1954.0,148,0.04,7415.893507,Germany,Industry (TDS <10ppm),Krupp Uhde,120000.0,River water or low concentrated saline water (...,Thyssen Krupp,...,148.00,1.0,NaN,NaN,NaN,NaN,0.000000,NaN,1.89527,0.911227
6433,1951.0,246,0.06,7520.171805,Germany,Power stations (TDS <10ppm),Krupp Uhde,200000.0,River water or low concentrated saline water (...,Thyssen Krupp,...,246.00,1.0,NaN,NaN,NaN,NaN,0.000000,NaN,1.89527,0.659938
6434,1951.0,242,0.06,7644.472165,Germany,Power stations (TDS <10ppm),Krupp Uhde,200000.0,River water or low concentrated saline water (...,Thyssen Krupp,...,242.00,1.0,NaN,NaN,NaN,NaN,0.000000,NaN,1.89527,0.659938
6435,1951.0,212,0.06,7853.613387,Germany,Power stations (TDS <10ppm),Krupp Uhde,180000.0,River water or low concentrated saline water (...,Thyssen Krupp,...,212.00,1.0,NaN,NaN,NaN,NaN,0.000000,NaN,1.89527,0.659938
6436,1951.0,223,0.06,7881.005161,Netherlands,Industry (TDS <10ppm),Aiton GB,190000.0,River water or low concentrated saline water (...,Aiton GB,...,223.00,1.0,NaN,NaN,NaN,NaN,0.000000,NaN,1.72885,0.659938
6437,1951.0,242,0.06,7644.472165,Sweden,Industry (TDS <10ppm),Krupp Uhde,200000.0,River water or low concentrated saline water (...,Thyssen Krupp,...,242.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,1.30424,0.659938
6438,1951.0,246,0.06,24816.56696,Turkey,Power stations (TDS <10ppm),NaN,660000.0,Seawater (TDS 20000ppm - 50000ppm),NaN,...,246.00,1.0,NaN,NaN,2008.0,0.925908,1.138489,2286.085006,3.02097,0.659938
6439,2009.0,"25,200",6.66,690.0816508,India,Power stations (TDS <10ppm),Aquatech International Corporation,15470000.0,Seawater (TDS 20000ppm - 50000ppm),Aquatech International Corporation,...,12600.00,2.0,NaN,NaN,2009.0,0.279810,1.142553,2295.389979,3.58489,4.193171
6440,2014.0,"3,840",1.01,1185.00642,India,Municipalities as drinking water (TDS 10ppm - ...,Doshion Veolia Water Solutions,4400000.0,Brackish water or inland water (TDS 3000ppm - ...,Doshion Limited,...,24.00,160.0,NaN,NaN,2009.0,0.279810,1.142553,2295.389979,3.58489,0.000000
6441,2014.0,"3,600",0.95,1177.824563,India,Municipalities as drinking water (TDS 10ppm - ...,LVJ Projects,4100000.0,Brackish water or inland water (TDS 3000ppm - ...,LVJ Projects,...,24.00,150.0,NaN,NaN,2009.0,0.279810,1.142553,2295.389979,3.58489,0.000000
6442,2014.0,"3,120",0.82,1160.146146,India,Municipalities as drinking water (TDS 10ppm - ...,NaN,3500000.0,Brackish water or inland water (TDS 3000ppm - ...,NaN,...,24.00,130.0,NaN,NaN,2009.0,0.279810,1.142553,2295.389979,3.58489,0.000000
6443,2014.0,"28,512",7.53,1192.480359,Morocco,Municipalities as drinking water (TDS 10ppm - ...,Veolia OTV,34000000.0,Brackish water or inland water (TDS 3000ppm - ...,Veolia,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,4.23605,0.000000
6444,2014.0,"1,500",0.40,1206.551991,Saudi Arabia,Municipalities as drinking water (TDS 10ppm - ...,Veolia,1750000.0,Brackish water or inland water (TDS 3000ppm - ...,Veolia,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,4.99235,0.000000
6445,2014.0,"1,124",0.30,1058.109906,Saudi Arabia,Municipalities as drinking water (TDS 10ppm - ...,Veolia,1150000.0,Brackish water or inland water (TDS 3000ppm - ...,Veolia,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,4.99235,0.000000
6446,1948.0,700,0.18,10740.55222,India,Power stations (TDS <10ppm),NaN,730000.0,Brackish water or inland water (TDS 3000ppm - ...,NaN,...,175.00,4.0,NaN,NaN,2009.0,0.279810,1.142553,2295.389979,3.58489,0.711967
6447,1946.0,302,0.08,29481.66186,India,Municipalities as drinking water (TDS 10ppm - ...,NaN,810000.0,Seawater (TDS 20000ppm - 50000ppm),NaN,...,302.00,1.0,NaN,NaN,2009.0,0.279810,1.142553,2295.389979,3.58489,0.628513
6448,2011.0,"5,000",1.32,747.3366028,Iran,Municipalities as drinking water (TDS 10ppm - ...,UNIHA Wasser Technologie Gmbh / Vahang Saran Co.,3500000.0,Seawater (TDS 20000ppm - 50000ppm),Consortium,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,4.78155,4.304385
6449,2011.0,"17,000",4.49,1237.895709,Morocco,Municipalities as drinking water (TDS 10ppm - ...,Osmo Sistemi,20000000.0,Brackish water or inland water (TDS 3000ppm - ...,Caramondani Group,...,8500.00,2.0,NaN,NaN,NaN,NaN,0.000000,NaN,4.23605,4.304385
6450,2011.0,"16,000",4.23,953.5665381,Oman,Industry (TDS <10ppm),Nagarjuna Construction Company Limited / VA Te...,14500000.0,Seawater (TDS 20000ppm - 50000ppm),Consortium,...,4000.00,4.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,4.91379,4.304385
6451,2011.0,200,0.05,3785.473419,Oman,Municipalities as drinking water (TDS 10ppm - ...,Modern Water,709140.0,Brine or concentrated seawater (TDS >50000ppm),Modern Water,...,200.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,4.91379,4.304385
6452,2015.0,"2,500",0.66,661.8799496,Iran,Municipalities as drinking water (TDS 10ppm - ...,Noor Vijeh Co,1600000.0,Brackish water or inland water (TDS 3000ppm - ...,Noor Vijeh Co,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,4.78155,0.000000
6453,2015.0,"13,700",3.62,817.5182482,Israel,Municipalities as drinking water (TDS 10ppm - ...,Baran Engineering and Projects / GES (Global E...,11200000.0,Brackish water or inland water (TDS 3000ppm - ...,Consortium,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,4.82539,0.000000
6454,2015.0,"22,730",6.01,611.5266168,Singapore,Municipalities as drinking water (TDS 10ppm - ...,Singapore Technologies Marine Ltd,13900000.0,Wastewater,Singapore Technologies Marine Ltd,...,NaN,NaN,NaN,NaN,2008.0,0.000000,1.138489,2286.085006,5,0.000000
6455,2016.0,"1,850",0.49,717.6697714,Qatar,Industry (TDS <10ppm),Metito,1300000.0,Brackish water or inland water (TDS 3000ppm - ...,Metito,...,NaN,NaN,NaN,0.25,NaN,NaN,0.000000,NaN,5,0.000000
6456,2008.0,"12,000",3.17,752.1810535,Saudi Arabia,Municipalities as drinking water (TDS 10ppm - ...,Nass Coporation / AES Arabia Ltd.,7900000.0,Seawater (TDS 20000ppm - 50000ppm),Consortium,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,4.99235,9.073754

In [108]:
df_NGP.to_csv(r'C:\Users\Michael\Dropbox\PhD\CU\0 - Courses\1- Fall 2018\Group Project - Solar Desal\Datasets\Desal_Water Stress_NGP.csv')

In [113]:
df_NGP

,Award date,Capacity (m3/d),Capacity (MGD),Capital Cost per Unit of Daily Capacity ($/m3/d),Country,Customer type,EPC contractor (desal),EPC price,Feedwater,Holding Company,...,Unit size (m3/d),Units,Winner,Water price (USD/m3),Water Year,Water Cost,Water Inflation Multiple,Inflation Adjusted Water Cost,Water Stress,Inflation Adjusted Wellhead Natural Gas Price
0,2002.0,"14,000",3.70,323.5982978,Algeria,Industry (TDS <10ppm),Linde-KCA-Dresden GmbH,3400000.0,River water or low concentrated saline water (...,Linde Group,...,4666.67,3.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427,4.019924
1,2002.0,"14,000",3.70,1111.655329,Algeria,Municipalities as drinking water (TDS 10ppm - ...,SNC-Lavalin / Strabag,11680000.0,Brackish water or inland water (TDS 3000ppm - ...,Consortium,...,7000.00,2.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427,4.019924
2,2002.0,"10,000",2.64,3296.514895,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Passavant-Roediger GmbH,24740000.0,Seawater (TDS 20000ppm - 50000ppm),Drake & Scull International PJSC,...,2500.00,4.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427,4.019924
3,2002.0,"5,000",1.32,1332.463579,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Linde-KCA-Dresden GmbH / Strabag,5000000.0,Seawater (TDS 20000ppm - 50000ppm),Consortium,...,5000.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427,4.019924
4,2002.0,"2,500",0.66,1332.463579,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Linde-KCA-Dresden GmbH / Strabag,2500000.0,Seawater (TDS 20000ppm - 50000ppm),Consortium,...,2500.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427,4.019924
5,2002.0,"2,500",0.66,1332.463579,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Linde-KCA-Dresden GmbH / Strabag,2500000.0,Seawater (TDS 20000ppm - 50000ppm),Consortium,...,2500.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427,4.019924
6,2002.0,"2,500",0.66,1385.762122,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Linde-KCA-Dresden GmbH,2600000.0,Seawater (TDS 20000ppm - 50000ppm),Linde Group,...,2500.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427,4.019924
7,2002.0,"2,500",0.66,1332.463579,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Linde-KCA-Dresden GmbH,2500000.0,Seawater (TDS 20000ppm - 50000ppm),Linde Group,...,2500.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427,4.019924
8,2002.0,"2,500",0.66,1332.463579,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Linde-KCA-Dresden GmbH,2500000.0,Seawater (TDS 20000ppm - 50000ppm),Linde Group,...,2500.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427,4.019924
9,2002.0,"2,500",0.66,1332.463579,Algeria,Municipalities as drinking water (TDS 10ppm - ...,Linde-KCA-Dresden GmbH / Strabag,2500000.0,Seawater (TDS 20000ppm - 50000ppm),Consortium,...,2500.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427,4.019924
10,2002.0,"2,500",0.66,3299.179822,Algeria,Municipalities as drinking water (TDS 10ppm - ...,"Grupo SETA, S.L.",6190000.0,Seawater (TDS 20000ppm - 50000ppm),"Grupo SETA, S.L.",...,2500.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427,4.019924
11,2002.0,"2,400",0.63,3525.950634,Algeria,Municipalities as drinking water (TDS 10ppm - ...,SNTE FR,6210000.0,Seawater (TDS 20000ppm - 50000ppm),SNTE FR,...,1200.00,2.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427,4.019924
12,2002.0,"2,400",0.63,3525.950634,Algeria,Municipalities as drinking water (TDS 10ppm - ...,SNTE FR,6210000.0,Seawater (TDS 20000ppm - 50000ppm),SNTE FR,...,1200.00,2.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427,4.019924
13,2002.0,"1,300",0.34,1332.463579,Algeria,Tourist facilities as drinking water (TDS 10pp...,"Ionics, Inc.",1300000.0,Brackish water or inland water (TDS 3000ppm - ...,GdF Suez,...,1300.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427,4.019924
14,2002.0,"1,200",0.32,3520.272774,Algeria,Municipalities as drinking water (TDS 10ppm - ...,SNTE FR,3100000.0,Seawater (TDS 20000ppm - 50000ppm),SNTE FR,...,1200.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427,4.019924
15,2002.0,"1,200",0.32,3520.272774,Algeria,Municipalities as drinking water (TDS 10ppm - ...,NaN,3100000.0,Seawater (TDS 20000ppm - 50000ppm),NaN,...,1200.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,3.44427,4.019924
16,2002.0,379,0.10,3631.432976,Antigua and Barbuda,Tourist facilities as drinking water (TDS 10pp...,"Ionics, Inc.",1010000.0,Seawater (TDS 20000ppm - 50000ppm),GdF Suez,...,379.00,1.0,NaN,NaN,NaN,NaN,0.000000,NaN,5,4.019924
17,2002.0,"1,090",0.29,1000.136686,Australia,Industry (TDS <10ppm),"Ionics, Inc.",800000.0,Pure water or tap water (TDS <500ppm),GdF Suez,...,545.00,2.0,NaN,NaN,2013.0,3.197658,1.052211,2118.101452,3.51149,4.019924
18,2002.0,"16,000",4.23,1149.196109,Canada,Industry (TDS <10ppm),GE Ionics,14650000.0,Brackish water or inland water (TDS 3000ppm - ...,GdF Suez,...,16000.00,1.0,NaN,NaN,NaN,NaN,0.000000,NaN,1.20577,4.019924
19,2002.0,600,0.16,3531.028485,Chile,Power stations (TDS <10ppm),IDE Technologies Ltd.,1590000.0,Seawater (TDS 20000ppm - 50000ppm),IDE Technologies Ltd.,...,600.00,1.0,NaN,NaN,2008.0,0.558165,1.138489,2286.085006,3.20537,4.019924
20,2002.0,"5,500",1.45,1332.463579,China,Industry (TDS <10ppm),CNC Water Technology,5500000.0,Seawater (TDS 20000ppm - 50000ppm),"Evoqua Water Technologies, LLC",...,2750.00,2.0,NaN,NaN,2012.0,0.425293,1.067624,2148.058921,2.94477,4.019924
21,2002.0,"3,672",0.97,994.5531348,China,Industry (TDS <10ppm),Nomura Micro Science,2680000.0,Pure water or tap water (TDS <500ppm),Nomura Micro Science,...,734.40,5.0,NaN,NaN,2012.0,0.425293,1.067624,2148.058921,2.94477,4.019924
22,2002.0,"3,672",0.97,994.5531348,China,Industry (TDS <10ppm),Nomura Micro Science,2680000.0,Pure water or tap water (TDS <500ppm),Nomura Micro Science,...,734.40,5.0,NaN,NaN,2012.0,0.425293,1.067624,2148.058921,2.94477,4.019924
23,2002.0,"3,600",0.95,973.4386703,China,Industry (TDS <10ppm),Nomura Micro Science,2630000.0,Pure water or tap water (TDS <500ppm),Nomura Micro Science,...,720.00,5.0,NaN,NaN,2012.0,0.425293,1.067624,2148.058921,2.94477,4.019924
24,2002.0,"3,600",0.95,973.4386703,China,Industry (TDS <10ppm),Nomura Micro Science,2630000.0,Pure water or tap water (TDS <500ppm),Nomura Micro Science,...,720.00,5.0,NaN,NaN,2012.0,0.425293,1.067624,2148.058921,2.94477,4.019924
25,2002.0,"3,600",0.95,884.607765,China,Industry (TDS <10ppm),Nomura Micro Science,2390000.0,Pure water or tap water (TDS <500ppm),Nomura Micro Science,...,3600.00,1.0,NaN,NaN,2012.0,0.425293,1.067624,2148.058921,2.94477,4.019924
26,2002.0,"1,000",0.26,3477.729941,China,Demonstration,Institute of Seawater Desalination and Multipu...,2610000.0,Seawater (TDS 20000ppm - 50000ppm),State Oceanic Administration,...,1000.00,1.0,NaN,NaN,2012.0,0.425293,1.067624,2148.058921,2.94477,4.019924
27,2002.0,700,0.18,3502.475693,China,Power stations (TDS <10ppm),Alfa Laval,1840000.0,Seawater (TDS 20000ppm - 50000ppm),Alfa Laval,...,700.00,1.0,NaN,NaN,2012.0,0.425293,1.067624,2148.058921,2.94477,4.019924
28,2002.0,500,0.13,1757.132616,China,Municipalities as drinking water (TDS 10ppm - ...,NaN,700000.0,Brackish water or inland water (TDS 3000ppm - ...,NaN,...,500.00,1.0,NaN,NaN,2012.0,0.425293,1.067624,2148.058921,2.94477,4.019924
29,2002.0,"4,000",1.06,3812.114743,Egypt,Municipalities as drinking water (TDS 10ppm - ...,NaN,11190000.0,Seawater (TDS 20000ppm - 50000ppm),NaN,...,4000.00,1.0,NaN,NaN,2015.0,0.212466,1.034187,2083.887653,1.32799,4.019924
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6427,1956.0,132,0.03,9251.806318,Mexico,Power stations (TDS <10ppm),Envirogenics,140000.0,Brackish water or inland water (TDS 3000ppm - ...,Envirogenics,...,132.00,1.0,NaN,NaN,2012.0,0.674681,1.067624,2148.058921,3.51605,0.991294
6428,1954.0,348,0.09,7621.890546,Germany,Power stations (TDS <10ppm),Krupp Uhde,290000.0,River water or low concentrated saline water (...,Thyssen Krupp,...,174.00,2.0,NaN,NaN,NaN,NaN,0.000000,NaN,1.89527,0.911227
6429,1954.0,341,0.09,7510.132622,Germany,Industry (TDS <10ppm),Krupp Uhde,280000.0,River water or low concentrated saline water (...,Thyssen Krupp,...,341.00,1.0,NaN,NaN,NaN,NaN,0.000000,NaN,1.89527,0.911227
6430,1954.0,288,0.08,7621.890549,Germany,Industry (TDS <10ppm),Krupp Uhde,240000.0,River water or low concentrated saline water (...,Thyssen Krupp,...,288.00,1.0,NaN,NaN,NaN,NaN,0.000000,NaN,1.89527,0.911227
6431,1954.0,148,0.04,7415.893507,Germany,Power stations (TDS <10ppm),Krupp Uhde,120000.0,River water or low concentrated saline water (...,Thyssen Krupp,...,148.00,1.0,NaN,NaN,NaN,NaN,0.000000,NaN,1.89527,0.911227
6432,1954.0,148,0.04,7415.893507,Germany,Industry (TDS <10ppm),Krupp Uhde,120000.0,River water or low concentrated saline water (...,Thyssen Krupp,...,148.00,1.0,NaN,NaN,NaN,NaN,0.000000,NaN,1.89527,0.911227
6433,1951.0,246,0.06,7520.171805,Germany,Power stations (TDS <10ppm),Krupp Uhde,200000.0,River water or low concentrated saline water (...,Thyssen Krupp,...,246.00,1.0,NaN,NaN,NaN,NaN,0.000000,NaN,1.89527,0.659938
6434,1951.0,242,0.06,7644.472165,Germany,Power stations (TDS <10ppm),Krupp Uhde,200000.0,River water or low concentrated saline water (...,Thyssen Krupp,...,242.00,1.0,NaN,NaN,NaN,NaN,0.000000,NaN,1.89527,0.659938
6435,1951.0,212,0.06,7853.613387,Germany,Power stations (TDS <10ppm),Krupp Uhde,180000.0,River water or low concentrated saline water (...,Thyssen Krupp,...,212.00,1.0,NaN,NaN,NaN,NaN,0.000000,NaN,1.89527,0.659938
6436,1951.0,223,0.06,7881.005161,Netherlands,Industry (TDS <10ppm),Aiton GB,190000.0,River water or low concentrated saline water (...,Aiton GB,...,223.00,1.0,NaN,NaN,NaN,NaN,0.000000,NaN,1.72885,0.659938
6437,1951.0,242,0.06,7644.472165,Sweden,Industry (TDS <10ppm),Krupp Uhde,200000.0,River water or low concentrated saline water (...,Thyssen Krupp,...,242.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,1.30424,0.659938
6438,1951.0,246,0.06,24816.56696,Turkey,Power stations (TDS <10ppm),NaN,660000.0,Seawater (TDS 20000ppm - 50000ppm),NaN,...,246.00,1.0,NaN,NaN,2008.0,0.925908,1.138489,2286.085006,3.02097,0.659938
6439,2009.0,"25,200",6.66,690.0816508,India,Power stations (TDS <10ppm),Aquatech International Corporation,15470000.0,Seawater (TDS 20000ppm - 50000ppm),Aquatech International Corporation,...,12600.00,2.0,NaN,NaN,2009.0,0.279810,1.142553,2295.389979,3.58489,4.193171
6440,2014.0,"3,840",1.01,1185.00642,India,Municipalities as drinking water (TDS 10ppm - ...,Doshion Veolia Water Solutions,4400000.0,Brackish water or inland water (TDS 3000ppm - ...,Doshion Limited,...,24.00,160.0,NaN,NaN,2009.0,0.279810,1.142553,2295.389979,3.58489,0.000000
6441,2014.0,"3,600",0.95,1177.824563,India,Municipalities as drinking water (TDS 10ppm - ...,LVJ Projects,4100000.0,Brackish water or inland water (TDS 3000ppm - ...,LVJ Projects,...,24.00,150.0,NaN,NaN,2009.0,0.279810,1.142553,2295.389979,3.58489,0.000000
6442,2014.0,"3,120",0.82,1160.146146,India,Municipalities as drinking water (TDS 10ppm - ...,NaN,3500000.0,Brackish water or inland water (TDS 3000ppm - ...,NaN,...,24.00,130.0,NaN,NaN,2009.0,0.279810,1.142553,2295.389979,3.58489,0.000000
6443,2014.0,"28,512",7.53,1192.480359,Morocco,Municipalities as drinking water (TDS 10ppm - ...,Veolia OTV,34000000.0,Brackish water or inland water (TDS 3000ppm - ...,Veolia,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,4.23605,0.000000
6444,2014.0,"1,500",0.40,1206.551991,Saudi Arabia,Municipalities as drinking water (TDS 10ppm - ...,Veolia,1750000.0,Brackish water or inland water (TDS 3000ppm - ...,Veolia,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,4.99235,0.000000
6445,2014.0,"1,124",0.30,1058.109906,Saudi Arabia,Municipalities as drinking water (TDS 10ppm - ...,Veolia,1150000.0,Brackish water or inland water (TDS 3000ppm - ...,Veolia,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,4.99235,0.000000
6446,1948.0,700,0.18,10740.55222,India,Power stations (TDS <10ppm),NaN,730000.0,Brackish water or inland water (TDS 3000ppm - ...,NaN,...,175.00,4.0,NaN,NaN,2009.0,0.279810,1.142553,2295.389979,3.58489,0.711967
6447,1946.0,302,0.08,29481.66186,India,Municipalities as drinking water (TDS 10ppm - ...,NaN,810000.0,Seawater (TDS 20000ppm - 50000ppm),NaN,...,302.00,1.0,NaN,NaN,2009.0,0.279810,1.142553,2295.389979,3.58489,0.628513
6448,2011.0,"5,000",1.32,747.3366028,Iran,Municipalities as drinking water (TDS 10ppm - ...,UNIHA Wasser Technologie Gmbh / Vahang Saran Co.,3500000.0,Seawater (TDS 20000ppm - 50000ppm),Consortium,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,4.78155,4.304385
6449,2011.0,"17,000",4.49,1237.895709,Morocco,Municipalities as drinking water (TDS 10ppm - ...,Osmo Sistemi,20000000.0,Brackish water or inland water (TDS 3000ppm - ...,Caramondani Group,...,8500.00,2.0,NaN,NaN,NaN,NaN,0.000000,NaN,4.23605,4.304385
6450,2011.0,"16,000",4.23,953.5665381,Oman,Industry (TDS <10ppm),Nagarjuna Construction Company Limited / VA Te...,14500000.0,Seawater (TDS 20000ppm - 50000ppm),Consortium,...,4000.00,4.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,4.91379,4.304385
6451,2011.0,200,0.05,3785.473419,Oman,Municipalities as drinking water (TDS 10ppm - ...,Modern Water,709140.0,Brine or concentrated seawater (TDS >50000ppm),Modern Water,...,200.00,1.0,NaN,NaN,0.0,0.000000,0.000000,0.000000,4.91379,4.304385
6452,2015.0,"2,500",0.66,661.8799496,Iran,Municipalities as drinking water (TDS 10ppm - ...,Noor Vijeh Co,1600000.0,Brackish water or inland water (TDS 3000ppm - ...,Noor Vijeh Co,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,4.78155,0.000000
6453,2015.0,"13,700",3.62,817.5182482,Israel,Municipalities as drinking water (TDS 10ppm - ...,Baran Engineering and Projects / GES (Global E...,11200000.0,Brackish water or inland water (TDS 3000ppm - ...,Consortium,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,4.82539,0.000000
6454,2015.0,"22,730",6.01,611.5266168,Singapore,Municipalities as drinking water (TDS 10ppm - ...,Singapore Technologies Marine Ltd,13900000.0,Wastewater,Singapore Technologies Marine Ltd,...,NaN,NaN,NaN,NaN,2008.0,0.000000,1.138489,2286.085006,5,0.000000
6455,2016.0,"1,850",0.49,717.6697714,Qatar,Industry (TDS <10ppm),Metito,1300000.0,Brackish water or inland water (TDS 3000ppm - ...,Metito,...,NaN,NaN,NaN,0.25,NaN,NaN,0.000000,NaN,5,0.000000
6456,2008.0,"12,000",3.17,752.1810535,Saudi Arabia,Municipalities as drinking water (TDS 10ppm - ...,Nass Coporation / AES Arabia Ltd.,7900000.0,Seawater (TDS 20000ppm - 50000ppm),Consortium,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,4.99235,9.073754

In [116]:
df_NGP.isna()

,Award date,Capacity (m3/d),Capacity (MGD),Capital Cost per Unit of Daily Capacity ($/m3/d),Country,Customer type,EPC contractor (desal),EPC price,Feedwater,Holding Company,...,Unit size (m3/d),Units,Winner,Water price (USD/m3),Water Year,Water Cost,Water Inflation Multiple,Inflation Adjusted Water Cost,Water Stress,Inflation Adjusted Wellhead Natural Gas Price
0,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
15,False,False,False,False,False,False,True,False,False,True,...,False,False,True,True,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,False,True,False,False
17,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,False,True,False,False
19,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
28,False,False,False,False,False,False,True,False,False,True,...,False,False,True,True,False,False,False,False,False,False
29,False,False,False,False,False,False,True,False,False,True,...,False,False,True,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6427,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
6428,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,False,True,False,False
6429,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,False,True,False,False
6430,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,False,True,False,False
6431,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,False,True,False,False
6432,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,False,True,False,False
6433,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,False,True,False,False
6434,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,False,True,False,False
6435,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,False,True,False,False
6436,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,False,True,False,False
6437,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
6438,False,False,False,False,False,False,True,False,False,True,...,False,False,True,True,False,False,False,False,False,False
6439,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
6440,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
6441,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
6442,False,False,False,False,False,False,True,False,False,True,...,False,False,True,True,False,False,False,False,False,False
6443,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,False,True,False,False
6444,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,False,True,False,False
6445,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,False,True,False,False
6446,False,False,False,False,False,False,True,False,False,True,...,False,False,True,True,False,False,False,False,False,False
6447,False,False,False,False,False,False,True,False,False,True,...,False,False,True,True,False,False,False,False,False,False
6448,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,False,True,False,False
6449,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,False,True,False,False
6450,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
6451,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
6452,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,False,True,False,False
6453,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,False,True,False,False
6454,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,False,False,False,False,False,False
6455,False,False,False,False,False,False,False,False,False,False,...,True,True,True,False,True,True,False,True,False,False
6456,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,False,True,False,False